
@model EprocurementWeb.Models.ActualizaPasswordModel
@{
    ViewBag.Title = "Contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/validacionProveedor.css" rel="stylesheet" />
<div class="container">

    <div class="formPrincipal">
        <div class="col100" style="font-size:14px;">
            <div class="row pb-0">
                <div class="col-sm-12">
                    <h3 class="subtitle">
                        Contraseña
                    </h3>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("ActualizarPassword", "MiCuenta", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="col100" style="font-size:14px;">

                @Html.ValidationSummary(true)
                <div class="col100 mt-2">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Password, new { @class = "labelTexto control-label" })
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control inputIF", maxlength = "10" })
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PasswordNueva, new { @class = "labelTexto control-label" })
                                @Html.PasswordFor(model => model.PasswordNueva, new { @class = "form-control inputIF", maxlength = "10" })
                                @Html.ValidationMessageFor(model => model.PasswordNueva)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ConfirmarPassword, new { @class = "labelTexto control-label" })
                                @Html.PasswordFor(model => model.ConfirmarPassword, new { @class = "form-control inputIF", maxlength = "10" })
                                @Html.ValidationMessageFor(model => model.ConfirmarPassword)
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>

            <div class="row mt-4">
                <div class="col-sm-8">&nbsp;</div>
                <div class="col-sm-2"><input type="button" value="Cancelar" class="btnStyle btnWhite" /></div>
                <div class="col-sm-2"><input type="submit" value="Aceptar" class="btnStyle" /></div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if (window.location.hash == "#success") {
            Swal.fire({
                position: 'middle',
                icon: 'success',
                title: '¡Actualización de Contraseña Exitosa!',
                html: '',
                showConfirmButton: true,
                timer: 3000
            })
        }
        else if (window.location.hash == "#errorSuccess") {
            Swal.fire({
                position: 'middle',
                icon: 'error',
                title: '¡Se generó un error al intentar actualizar la contraseña.!',
                html: '',
                showConfirmButton: true,
                timer: 3000
            })
        }
    });
</script>










