@model EprocurementWeb.Models.MiCuentaModel
@{
    ViewBag.Title = "Mi Cuenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/shared")
@Scripts.Render("~/bundles/bootstrap")
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
@*@RenderSection("scripts", required: false)*@

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div class="container">

    <div class="formPrincipal">
        <div class="row pb-0">
            <div class="col-sm-12">
                <h3 class="subtitle">
                    Mi cuenta
                </h3>
            </div>
        </div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" style="width:33%">
                <a class="nav-link active" href="#tbInfoCuenta" role="tab" data-toggle="tab" id="tabInfoCuenta">Información de la cuenta</a>
            </li>
            <li class="nav-item" style="width:33%">
                <a class="nav-link" href="#tbDatosBancarios" role="tab" data-toggle="tab" id="tabDatosBancarios">Datos Bancarios</a>
            </li>
            <li class="nav-item" style="width:33%">
                <a class="nav-link" href="#tbDatosFinancieros" role="tab" data-toggle="tab" id="tabDatosFinancieros">Datos Financieros</a>
            </li>
        </ul>
        @Html.Hidden("accionForm", (int)ViewBag.accionForm)
        <div class="tab-content" style="background-color:white; padding: 0px;">
            <div role="tabpanel" class="tab-pane fade in active show" id="tbInfoCuenta">
                @*<div class="col100" style="font-size:14px;">
                        Detalles de la compañía
                    </div>*@
                @Html.Partial("_InformacionCuenta", Model.Proveedor)

            </div>
            <div role="tabpanel" class="tab-pane fade in active hide" id="tbDatosBancarios">
                <div class="col100" style="font-size:14px;">
                    Detalle de Cuenta
                </div>

                <table id="Table"></table>
            </div>
            <div role="tabpanel" class="tab-pane fade in active hide" id="tbDatosFinancieros">
                <div class="col100" style="font-size:14px;">
                    Información Financiera
                </div>

                <div id="PanelDocumentos" style="font-size:12px;"></div>
            </div>
        </div>

    </div>
</div>
</div>

<script type="text/javascript">
    var proveedorCuentaList = [];
    var fn_CargarDoctos = function (idProveedor) {
        var jsonData = JSON.stringify({ idProveedor: idProveedor });
         $.ajax({
             type: "POST",
             contentType: "application/json; charset=utf-8",
             url: '@Url.Action("GetDocumentosList", "Home")',
             data: jsonData,
             async: false,
             success: function(data) {
                 $("#TableDocumento").html('');
                 $("#TableDocumento").append('<thead class="bg-light-purple"><tr>' +
                     '<td>Nombre</td>' +
                     '<td>Documento</td>' + '</tr></thead>'
                 );
                 $("#TableDocumento").DataTable().clear().draw();
                 $("#TableDocumento").DataTable().destroy();

                 $("#TableDocumento").append('<tbody>');
                 console.log("Documentos", data);
                 for (i = 0; i < data.length; i++) {

                     $("#TableDocumento").append('<tr>' +
                         '<td style="dislay: none;"><b>' + data[i].NombreDocumento + '</b></td>' +
                         '<td style="dislay: none;"><button class="btn-descargar">Descargar</button></tr>'
                     );

                     $("#PanelDocumentos").append(
                         '<div class="col-sm-6 mt-2" style="border:solid 1px #c6c7cb; padding:10px;">'+
                            '<div class="row">'+
                                '<div class="col-sm-10"> <label style="font-weight:600;">' + data[i].NombreDocumento + '</label> </div>'+
                                '<div class="col-sm-2">'+
                                    '<a href="' + data[i].NombreArchivo + '" download="archivo">'+
                                        '<img src="/Content/Images/descargar.png" width="30" />'+
                                    '</a>'+
                                '</div>'+
                            '</div>'+
                        '</div>'
                     );
                 }
                 $("#TableDocumento").append('</tbody>');

                 $('#TableDocumento').DataTable({
                        "paging": false,
                         "bScrollInfinite": true,
                         "bScrollCollapse": true
                     });

             },
         });
    }

    var fn_CargarCuentas = function (idProveedor) {
        var jsonData = JSON.stringify({ idProveedor: idProveedor });
         $.ajax({
             type: "POST",
             contentType: "application/json; charset=utf-8",
             url: '@Url.Action("GetDetalleCuentaList", "Home")',
             data: jsonData,
             async: false,
             success: function (data) {
                 proveedorCuentaList = data;
                 console.log(proveedorCuentaList);
                 $("#Table").html('');
                 $("#Table").append('<thead class="bg-light-purple"><tr>' +
                     '<td style="display:none">IdProveedorCuenta</td>' +
                     '<td>Cuenta</td>' +
                     '<td>NombreBanco</td>' +
                     '<td>CLABE</td>' +
                     '<td>TipoCuenta</td>' +
                     '<td>Aeropuertos</td>' + '</tr></thead>'
                 );
                 $("#Table").DataTable().clear().draw();
                 $("#Table").DataTable().destroy();

                 $("#Table").append('<tbody>');
                 for (i = 0; i < data.length; i++) {

                     $("#Table").append('<tr>' +
                         //'<td style="display:none"><b>' + data[i].TipoCuenta + '</b></td>' +
                         '<td style="display:none">' + data[i].IdProveedorCuenta + '</td>' +
                         '<td><b>' + data[i].Cuenta + '</b></td>' +
                         '<td>' + data[i].NombreBanco + '</td>' +
                         '<td>' + data[i].CLABE + '</td>' +
                         '<td>' + data[i].TipoCuenta + '</td>' +
                         '<td><a class="verAeropuertos" href="#" >Ver</a></td>' + '</tr>'
                     );
                 }
                 $("#Table").append('</tbody>');

                 $('#Table').DataTable({
                        "paging": false,
                         "bScrollInfinite": true,
                         "bScrollCollapse": true
                     });

             },
         });
    }

    $(document).ready(function () {
        var url = '@Url.Action("AprobarTesoreria", "Tesoreria")';
        var idProveedor = $("#IdProveedor").val();

        console.log(idProveedor);
        fn_CargarCuentas(idProveedor);
        fn_CargarDoctos(idProveedor);

        var table = $('#Table').DataTable();

        $('#Table tbody').on( 'click', '.verAeropuertos', function () {
            var data = table.row($(this).closest('tr')).data()[0];
            console.log(data);
            console.log(proveedorCuentaList);
            let seleccionado = proveedorCuentaList.filter(cuenta => cuenta.IdProveedorCuenta == data);
            console.log('elemento seleccionado');
            console.log(seleccionado);
            console.log(seleccionado[0].AeropuertoList);

            let aeropuertos = '';
            for (let i = 0; i < seleccionado[0].AeropuertoList.length; i++) {
                aeropuertos += (i + 1) + ' ' + seleccionado[0].AeropuertoList[i].Nombre + '<br />';
            }
            $('#aeropuertosContainer').html(aeropuertos);

            $('#modalAeropuertos').modal('show');
        });

        //console.log("2", $("#accionForm").val());
        //if ($("#accionForm").val() == 1) {
        //$("#tabInfoCuenta").addClass('active');
        //    $("#tbInfoCuenta").addClass('active');
        //    $("#tbInfoCuenta").addClass('show');
        //    $("#tabPassword").removeClass('active');
        //    $("#tbPassword").removeClass('active');
        //    $("#tbPassword").removeClass('show');
        //} else if ($("#accionForm").val() == 2) {
        //console.log("2", $("#accionForm").val());
        //    $("#tabInfoCuenta").removeClass('active');
        //    $("#tbInfoCuenta").removeClass('active');
        //    $("#tbInfoCuenta").removeClass('show');
        //    $("#tabPassword").addClass('active');
        //    $("#tbPassword").addClass('active');
        //    $("#tbPassword").addClass('show');
        //}


        //$("#tbInfoCuenta").click(function () {
        //    $("#tbPassword").removeClass("active");
        //    $("#tbPassword").removeClass("show");
        //    $("#tbPassword").addClass("hide");
        //    $("#tbInfoCuenta").addClass("active");
        //    $("#tbInfoCuenta").addClass("show");
        //});
        //$("#tbPassword").click(function () {
        //    $("#tbInfoCuenta").removeClass("active");
        //    $("#tbInfoCuenta").removeClass("show");
        //    $("#tbInfoCuenta").addClass("hide");
        //    $("#tbPassword").removeClass("hide");
        //    $("#tbPassword").addClass("active");
        //    $("#tbPassword").addClass("show");
        //});
    });


</script>










@*<div class="row">
        <div class="col-md-6 offset-3">
            <div class="form-style">
                <form action="@Url.Content("~/Seguridad/Recovery")" method="post">
                    @Html.HiddenFor(d => d.Token)

                    <label>Escribe tu contraeña:</label>
                    @Html.PasswordFor(d => d.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.Password, null, new { style = "color:red;" })

                    <label>Nueva contraseña:</label>
                    @Html.PasswordFor(d => d.PasswordNueva, new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.PasswordNueva, null, new { style = "color:red;" })

                    <label>Confirmar contraseña:</label>
                    @Html.PasswordFor(d => d.ConfirmarPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.ConfirmarPassword, null, new { style = "color:red;" })
                    <br />
                    <div class="text-right">
                        <button class="btn btn-primary">Recuperar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>*@

