@model EprocurementWeb.Models.MiCuentaModel
@{
    ViewBag.Title = "Mi Cuenta";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/validacionProveedor.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<div class="container">
    
    <div class="formPrincipal">
        <div class="row pb-0">
            <div class="col-sm-12">
                <h3 class="subtitle">
                    Mi cuenta
                </h3>
            </div>
        </div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" style="width:50%">
                <a class="nav-link active" href="#tbInfoCuenta" role="tab" data-toggle="tab" id="tabInfoCuenta">Información de la cuenta</a>
            </li>
            <li class="nav-item" style="width:50%">
                <a class="nav-link" href="#tbPassword" role="tab" data-toggle="tab" id="tabPassword">Contraseña</a>
            </li>
        </ul>
        @Html.Hidden("accionForm", (int)ViewBag.accionForm)
        <div class="tab-content" style="background-color:white; padding: 15px;">
            <div role="tabpanel" class="tab-pane fade in " id="tbInfoCuenta">
                <div class="col100" style="font-size:14px;">
                    
                </div>
                @Html.Partial("_InformacionCuenta", Model.Proveedor)

            </div>
            <div role="tabpanel" class="tab-pane fade in " id="tbPassword">
                <div class="col100" style="font-size:14px;">
                    <div class="row pb-0">
                        <div class="col-sm-12">
                            <h3 class="subtitle">
                                Contraseña
                            </h3>
                        </div>
                    </div>
                </div>
                @Html.Partial("_ActualizarPassword", Model.ActualizaPassword)
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        console.log("2", $("#accionForm").val());
        if ($("#accionForm").val() == 1) {
        $("#tabInfoCuenta").addClass('active');
            $("#tbInfoCuenta").addClass('active');
            $("#tbInfoCuenta").addClass('show');
            $("#tabPassword").removeClass('active');
            $("#tbPassword").removeClass('active');
            $("#tbPassword").removeClass('show');
        } else if ($("#accionForm").val() == 2) {
        console.log("2", $("#accionForm").val());
            $("#tabInfoCuenta").removeClass('active');
            $("#tbInfoCuenta").removeClass('active');
            $("#tbInfoCuenta").removeClass('show');
            $("#tabPassword").addClass('active');
            $("#tbPassword").addClass('active');
            $("#tbPassword").addClass('show');
        }


        //$("#tbInfoCuenta").click(function () {
        //    $("#tbPassword").removeClass("active");
        //    $("#tbPassword").removeClass("show");
        //    $("#tbPassword").addClass("hide");
        //    $("#tbInfoCuenta").addClass("active");
        //    $("#tbInfoCuenta").addClass("show");
        //});
        //$("#tbPassword").click(function () {
        //    $("#tbInfoCuenta").removeClass("active");
        //    $("#tbInfoCuenta").removeClass("show");
        //    $("#tbInfoCuenta").addClass("hide");
        //    $("#tbPassword").removeClass("hide");
        //    $("#tbPassword").addClass("active");
        //    $("#tbPassword").addClass("show");
        //});
    });


</script>










@*<div class="row">
        <div class="col-md-6 offset-3">
            <div class="form-style">
                <form action="@Url.Content("~/Seguridad/Recovery")" method="post">
                    @Html.HiddenFor(d => d.Token)

                    <label>Escribe tu contraeña:</label>
                    @Html.PasswordFor(d => d.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.Password, null, new { style = "color:red;" })

                    <label>Nueva contraseña:</label>
                    @Html.PasswordFor(d => d.PasswordNueva, new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.PasswordNueva, null, new { style = "color:red;" })

                    <label>Confirmar contraseña:</label>
                    @Html.PasswordFor(d => d.ConfirmarPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.ConfirmarPassword, null, new { style = "color:red;" })
                    <br />
                    <div class="text-right">
                        <button class="btn btn-primary">Recuperar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>*@

