

@{
    ViewBag.Title = "Información Bancaria - Financiera";
    Layout = "~/Views/Shared/_LayoutInit.cshtml";
}

<link href="~/Content/Css/infoCuenta.css" rel="stylesheet" />
<link href="~/Content/validacionProveedor.css" rel="stylesheet" />
<div class="row panel-header">
    <div class="col-sm-4 pull-left">
        <img class="gap-logo" src="@Url.GetImage("logo-gap-color.png",false)" />
    </div>

    <div class="col-sm-4 t-a-c ">
        <h1 class="h-title">
            @EprocurementWeb.GlobalResources.RHome.ProvP
        </h1>
    </div>

    <div class="col-sm-4">
        <ul class="pull-right" style="list-style:none; float: right; display:none;">
            <li style="display:inline;">
                <a href="" class="setLang" data-lang="es-MX"><img src="@Url.GetImage("Mexico.png",false)" /></a>
            </li>
            <li style="display:inline;">
                <a href="" class="setLang" data-lang="en-US"><img src="@Url.GetImage("usa.png", false)" /></a>
            </li>
        </ul>
    </div>
</div>

<div class="container">
   
    <div class="formPrincipal">
        <div class="row pb-0">
            <div class="col-sm-12">
                <h3 class="subtitle">
                    @EprocurementWeb.GlobalResources.RHome.TitlePP
                </h3>
            </div>
        </div>

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" style="width:50%">
                <a class="nav-link active" href="#IB" role="tab" data-toggle="tab">Información Bancaria</a>
            </li>
            <li class="nav-item" style="width:50%">
                <a class="nav-link" href="#IF" role="tab" data-toggle="tab">Información Financiera</a>
            </li>
        </ul>
        @model EPROCUREMENT.GAPPROVEEDOR.Entities.Proveedor.ProveedorInformacionFinanciera
        @using (Html.BeginForm("InformacionBF", "AltaProveedor", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        <div class="tab-content" style="background-color:white; padding: 15px;">

            <div role="tabpanel" class="tab-pane fade in active show" id="IB">
                @if (ViewBag.UsuarioEstatus == 4)
                {
                    <div class="col100" style="font-size:14px;">
                        <b>Por favor llena la siguiente información</b>
                    </div>
                    @Html.Partial("_CuentaBancaria", Model)

                    @Html.HiddenFor(m => m.RFC)
                    <b>Detalles de la compañia</b>
                    <div class="row mt-5">
                        <div class="col-sm-12">
                            <table class="dataTable" id="tbProveedorCuenta" width="100%">
                                <thead class="bg-light-purple">
                                    <tr>
                                        <td>Cuenta</td>
                                        <td>NombreBancco</td>
                                        <td>Clabe</td>
                                        <td>Tipo</td>
                                        <td>Aeropuertos</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="display:none;"></tr>
                                    @foreach (var cuenta in Model.ProveedorCuentaListRegistro)
                                    {
                                        <tr>
                                            <td style="dislay: none;">@cuenta.Cuenta</td>
                                            <td style="dislay: none;">@cuenta.NombreBanco</td>
                                            <td style="dislay: none;">@cuenta.CLABE</td>
                                            <td style="dislay: none;">@cuenta.TipoCuenta</td>
                                            <td style="dislay: none;"><a href="">Ver</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                else
                {
                    @Html.HiddenFor(m => m.RFC)
                    <b>Detalles de la compañia</b>
                    <div class="row mt-5">
                        <div class="col-sm-12">
                            <table class="dataTable" id="tbProveedorCuenta" width="100%">
                                <thead class="bg-light-purple">
                                    <tr>
                                        <td>Cuenta</td>
                                        <td>NombreBancco</td>
                                        <td>Clabe</td>
                                        <td>Tipo</td>
                                        <td>Aeropuertos</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="display:none;"></tr>
                                    @foreach (var cuenta in ViewBag.ProveedorCuentaList)
                                    {
                                        <tr>
                                            <td>@cuenta.Cuenta</td>
                                            <td>@cuenta.NombreBanco</td>
                                            <td>@cuenta.CLABE</td>
                                            <td>@cuenta.TipoCuenta</td>
                                            <td>
                                                @foreach(var aeropuerto in cuenta.AeropuertoList)
                                                {
                                                    @aeropuerto.Nombre <br />
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }

            </div>
            <div role="tabpanel" class="tab-pane fade" id="IF">
                @if (ViewBag.UsuarioEstatus == 4)
                {
                    <div class="col100" style="font-size:12px;">
                        @for (int idx = 0; idx < Model.CatalogoDocumentoList.Count; idx++)
                        {
                            <div class="col-sm-6 mt-2" style="border:solid 1px #c6c7cb; padding:10px;">
                                <div class="col50">
                                    <div class="inputIF" style="font-weight:600;">
                                        @Html.DisplayFor(m => m.CatalogoDocumentoList[idx].NombreDocumento)
                                        @Html.HiddenFor(m => m.CatalogoDocumentoList[idx].IdCatalogoDocumento)
                                        @Html.HiddenFor(m => m.CatalogoDocumentoList[idx].IdFormatoArchivo)
                                        @Html.HiddenFor(m => m.CatalogoDocumentoList[idx].IdFormulario)
                                    </div>
                                </div>
                                <div class="col25">
                                    @if (Model.CatalogoDocumentoList[idx].EsRequerido)
                                    {
                                        <input class="text-box single-line" required type="file" name="@Html.NameFor(m => m.CatalogoDocumentoList[idx].NombreDocumento)" id="@Html.IdFor(m => m.CatalogoDocumentoList[idx].File)" />
                                    }
                                    else
                                    {
                                        <input class="text-box single-line" type="file" name="@Html.NameFor(m => m.CatalogoDocumentoList[idx].NombreDocumento)" id="@Html.IdFor(m => m.CatalogoDocumentoList[idx].File)" />
                                    }

                                </div>
                                @Html.Label((string)ViewBag.MenssageErrorDocument, new { @class = "text-danger", id = "errorDocument" + Model.CatalogoDocumentoList[idx].IdCatalogoDocumento, @style = "display:none;" })
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="col100" style="font-size:12px;">
                        <table class="dataTable" id="tbProveedorCuenta" width="100%">
                            <thead class="bg-light-purple">
                                <tr>
                                    <td>Nombre del documento</td>
                                    <td>Fecha</td>
                                    <td>Autorizado</td>
                                    <td>Archivo</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cuenta in ViewBag.ProveedorDocumentoList)
                                {
                                    <tr>
                                        <td>@cuenta.DescripcionDocumento</td>
                                        <td>@cuenta.FechaAlta.ToString("dd MMM yyyy")</td>
                                        <td>@(cuenta.DocumentoAutorizado ? "Si": "No")</td>
                                        <td><a href="http://localhost:54535/api/Proveedor/Documento?image=@cuenta.NombreArchivo">Ver</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>

            <hr />
            @if (ViewBag.UsuarioEstatus == 4)
            {
            <div class="row mt-4">
                <div class="col-sm-6">&nbsp;</div>
                <div class="col-sm-3"><input type="button" value="Cancelar" class="btnStyle btnWhite" /></div>
                <div class="col-sm-3"><input type="button" id="btnCargarCuentas" value="Enviar" class="btnStyle" /></div>
            </div>
            }
            
        </div>
        }
    </div>
</div>

<style>
.dataTable {
    font-size: 14px;
    color: #68686a;
    width: 100%;
    text-align:left;
}

.dataTable tbody {
/*background-color: red !important;*/
}

table.dataTable thead tr td {
    height:40px;
}

table.dataTable tbody tr {
    background-color: transparent !important;
}

    table.dataTable tbody tr td {
        background-color: white;
        border-top: solid 5px #f6f6f8;
        text-align:left;
        font-size:12px;
    }
</style>

<script type="text/javascript">
    var fn_buscar = function () {
        var tipoProveedor = $('#tipoProveedor').val() == '' ? null : $('#tipoProveedor').val();
         var idGiroProveedor = $('#giro').val() == '' ? null : $('#giro').val();
         var idAeropuerto = $('#aeropuerto').val() == '' ? null : $('#aeropuerto').val();
         var email = $('#email').val() == '' ? null : $('#email').val();
         var nombreEmpresa = $('#proveedor').val() == '' ? null : $('#proveedor').val();
         var rfc = $('#rfc').val() == '' ? null : $('#rfc').val();
         var jsonData = JSON.stringify({ idTipoProveedor: tipoProveedor, idGiroProveedor: idGiroProveedor, idAeropuerto: idAeropuerto, nombreEmpresa: nombreEmpresa, rfc: rfc, email: email });
         $.ajax({
             type: "POST",
             contentType: "application/json; charset=utf-8",
             url: '@Url.Action("GetProveedorEstatusList", "Tesoreria")',
             data: jsonData,
             async: false,
             success: function(data) {
                 console.log("Traigo Datos", data)
                 $("#Table").html('');
                 $("#Table").append('<thead class="bg-light-purple"><tr>' +
                     //'<td>IdProveedor</td>'+
                     '<td>Cuenta</td>' +
                     '<td>Banco</td>' +
                     '<td>Clabe</td>' +
                     '<td>Tipo</td></tr></thead>'
                 );
                  //("#Table").DataTable().destroy();
                 $("#Table").DataTable().clear().draw();
                 $("#Table").DataTable().destroy();

                 $("#Table").append('<tbody>');
                 for (i = 0; i < data.length; i++) {

                     @*var link = '@Html.ActionLink(" ", "About", "Home", new { idProvider ="_idProv_" }, new { @class = "fas fa-eye icon-color" })';
                     link = link.replace('_idProv_', data[i].IdProveedor);*@

                     $("#Table").append('<tr>' +
                         //'<td align="center" style="dislay: none;">' + data[i].IdProveedor + '</td>' +
                         '<td align="center" style="dislay: none;"><b>' + data[i].RFC + '</b></td>' +
                         '<td align="center" style="dislay: none;">' + data[i].NombreEmpresa + '</td>' +
                         '<td align="center" style="dislay: none;">' + data[i].Email + '</td>' +
                         '<td align="center" style="dislay: none;">' + data[i].Estatus + '</td>' +
                         '<td align="center" style="dislay: none;">' + link + '</td>' + '</tr>'
                     );
                 }
                 $("#Table").append('</tbody>');

                 $('#Table').DataTable({
                        "paging": false,
                         "bScrollInfinite": true,
                         "bScrollCollapse": true
                     });

             },
         });
    }

    $("#buscar").click(function () {
        fn_AgregarCuenta();
    });

    $(document).ready(function () {
        
        let proveedorCuenta = [];

        if ('@ViewBag.Respuesta' != "") {
            Swal.fire({
                position: 'middle',
                icon: 'success',
                title: 'Las cuentas han sido guardadas con éxito',
                showConfirmButton: false,
                timer: 1500
            })
        }
        
        $("#idBanco").val(0);
        $("#idTipoCuenta").val(0);

        fn_buscar();

        $("#cuenta").on("change paste keyup", () => {
            $('#errorCuenta').hide();
        });

        $("#clave").on("change paste keyup", () => {
            $('#errorClave').hide();
        });

        $("#idBanco").change(() => {
            $('#errorIdBanco').hide();
        });

        $("#idTipoCuenta").change(() => {
            $('#errorIdIdTipoCuenta').hide();
        });

        $('input[type="checkbox"]').click(function () {
            $("#errorAeropuerto").hide();
        });

        $('input[type="file"]').on('change', () => {
            var docs = @Html.Raw(Json.Encode(Model.CatalogoDocumentoList));
                for (var j = 0; j < docs.length; j++) {
                    var fileInput = document.getElementById("CatalogoDocumentoList_" + j + "__File");
                    if (docs[j].EsRequerido && fileInput.files.length < 1) {
                        $('#errorDocument' + docs[j].IdCatalogoDocumento).show();
                    } else {
                        $('#errorDocument' + docs[j].IdCatalogoDocumento).hide();
                    }
                }
        });

        function validaCampos(cuenta,idBanco,clave,idTipoCuenta) {
            if (cuenta && cuenta.length) {

            } else {
                //$("#cuenta").addClass('is-invalid');
                $('#errorCuenta').show();
            }

            if (idBanco && idBanco.length) {

            } else {
                $('#errorIdBanco').show();
            }

            if (clave && clave.length) {

            } else {
                $('#errorClave').show();
            }

            if (idTipoCuenta && idTipoCuenta.length) {

            } else {
                $('#errorIdIdTipoCuenta').show();
            }
        }

        $("#btnAgregarCuenta").click(function () {
            console.log(proveedorCuenta);
            
            let Cuenta = $("#cuenta").val();
            let IdBanco = $("#idBanco").val();
            let NombreBanco = $("#idBanco option:selected").text();
            let CLABE = $("#clave").val();
            let IdTipoCuenta = $("#idTipoCuenta").val();
            let TipoCuenta = $("#idTipoCuenta option:selected").text();
            let aeropuerto = '';
            let AeropuertoList = [];

            validaCampos(Cuenta, IdBanco, CLABE, IdTipoCuenta);

            if (Cuenta && Cuenta.length
                && IdBanco && IdBanco.length
                && CLABE && CLABE.length
                && IdTipoCuenta && IdTipoCuenta.length) {

                $("input[type = 'checkbox']").each(function () {

                    if (!$(this).is(':disabled')) {
                        let c = $(this).is(":checked");
                        if (c) {
                            // por si quieren deschequearlos
                            //$(this).prop("checked", false);

                            $(this).attr("disabled", true);
                            console.log('id');
                            console.log($(this).attr('id'));
                            let Id = $(this).attr('id');
                            let Nombre = $(this).attr('hd');
                            aeropuerto += Nombre + '<br />';
                            console.log(aeropuerto);
                            AeropuertoList.push({ Id, Nombre });
                        }
                    }
                });

                if (AeropuertoList && AeropuertoList.length) {
                    proveedorCuenta.push({ Cuenta, IdBanco, NombreBanco, CLABE, IdTipoCuenta, TipoCuenta, AeropuertoList });

                    $('#tbProveedorCuenta tr:last').after(
                        '<tr><td>'
                        + Cuenta + '</td><td>'
                        + IdBanco + '</td><td>'
                        + CLABE + '</td><td>'
                        + IdTipoCuenta + '</td><td>'
                        + aeropuerto
                        + '</td></tr>'
                    );

                    console.log(Cuenta);
                    console.log(IdBanco);
                    console.log(CLABE);
                    console.log(IdTipoCuenta);
                    $("#cuenta").val('');
                    $("#idBanco").val(0);
                    $("#clave").val('');
                    $("#idTipoCuenta").val(0);
                } else {
                    $("#errorAeropuerto").show();
                    //alert('Debe seleccionar al menos un aeropuerto.');
                }
            }
        });

        $('#btnCargarCuentas').click(() => {

            if (proveedorCuenta && proveedorCuenta.length) {

                var formData = new FormData();

                var documentosInvalidos = false;

                var docs = @Html.Raw(Json.Encode(Model.CatalogoDocumentoList));
                console.log(docs.length);
                console.log(docs);
                for (var j = 0; j < docs.length; j++) {
                    console.log(docs[j].IdCatalogoDocumento);
                    var fileInput = document.getElementById("CatalogoDocumentoList_" + j + "__File");
                    if (docs[j].EsRequerido && fileInput.files.length < 1) {
                        documentosInvalidos = true;
                        $('#errorDocument' + docs[j].IdCatalogoDocumento).show();
                    }
                    for (i = 0; i < fileInput.files.length; i++) {
                        formData.append(docs[j].IdCatalogoDocumento, fileInput.files[i]);
                    }
                }

                if (documentosInvalidos) {
                    //alert('Falta cargar los documentos.');
                } else {
                    formData.append('cuenta', JSON.stringify({ ProveedorCuentaListRegistro: proveedorCuenta }));

                    $.ajax({
                        url: "/AltaProveedor/Upload",
                        type: "POST",
                        data: formData,
                        contentType: false,
                        processData: false,
                        cache: false,
                        async: false,
                        success: function (result) {
                            console.log(result);

                            $("#cuenta").val('');
                            $("#idBanco").val(0);
                            $("#clave").val('');
                            $("#idTipoCuenta").val(0);
                            $("#cuenta").removeClass('is-invalid');
                            $("#idBanco").removeClass('is-invalid');
                            $("#clave").removeClass('is-invalid');
                            $("#idTipoCuenta").removeClass('is-invalid');

                            for (var j = 0; j < docs.length; j++) {
                                $("#CatalogoDocumentoList_" + j + "__File").val('');
                            }
                        },
                    });
                }
            } else {
                alert('Es necesario agregar las cuentas.')
            }
        });
    });

</script>