@model EPROCUREMENT.GAPPROVEEDOR.Entities.Proveedor.ProveedorInformacionFinanciera
@{
    ViewBag.Title = "Mi Cuenta";
}

<link href="~/Content/Gestor.css" rel="stylesheet" />
<link href="~/Content/validacionProveedor.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<div class="row">
    <div class="col-md-12">
        <div class="mt-4">
            <div class="">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" style="width:50%">
                        <a class="nav-link active" href="#tbInfoBancaria" role="tab" data-toggle="tab">Información Bancaria</a>
                    </li>
                    <li class="nav-item" style="width:50%">
                        <a class="nav-link" href="#tbInfoFinanciera" role="tab" data-toggle="tab">Información Financiera</a>
                    </li>
                </ul>

                @Html.Hidden("IdProveedor", (int)ViewBag.IdProveedor)
                <div class="tab-content" style="background-color:white; padding: 15px;">
                    <div role="tabpanel" class="tab-pane fade in active show" id="tbInfoBancaria">
                        <div class="col100" style="font-size:14px;">
                            Detalle de Cuenta
                        </div>

                        <table id="Table">
                        </table>

                    </div>
                    <div role="tabpanel" class="tab-pane fade in active hide" id="tbInfoFinanciera">
                        <div class="col100" style="font-size:14px;">
                            Información Financiera
                        </div>
                        @*<table id="TableDocumento">
                            </table>*@

                        <div id="PanelDocumentos" style="font-size:12px;"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row mt-5">
            @if ((int)ViewBag.IdEstatus == 5)
            {
                <div class="col-md-3">
                    @*<a href="@Url.Action("AprobarTesoreria", "Tesoreria")" class="btnStyle btnWhite">
                    <span>Documentacion pendiente</span>
                </a>*@
                    <input id="btnDocumentacion" class="btnStyle btnWhite" type="button" data-toggle="modal" data-target="#modalDocumentacion" value="Documentacion pendiente" />
                </div>
                <div class="col-md-3">
                    <input type="button" class="btnStyle btnWhite" data-toggle="modal" data-target="#modalRechazar" value="Rechazar" />
                </div>
            }
            <div class="col-md-3">
                <a href="@Url.Action("AprobarTesoreria", "Tesoreria")">
                    <input id="btnCancelar" class="btnStyle btnWhite" type="button" value="Cancelar" />
                </a>

            </div>
            @if ((int)ViewBag.IdEstatus == 5)
            {
                <div class="col-md-3">
                    <input id="btnAprobar" class="btnStyle" type="button" value="Aceptar" />
                </div>
            }
            </div>
    </div>

</div>
<!-- Modal Rechazo -->
<div class="modal fade" id="modalRechazar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-purple">
                <h5 class="modal-title" id="exampleModalLongTitle">Motivo del rechazo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <label for="observaciones" class="col-form-label label-b">Ingresa un comentario para el proveedor</label><br />
                        <textarea class="form-control" id="observaciones"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btnStyle btnWhite btn-modal-cancelar" data-dismiss="modal">Cancelar</button>
                <button type="button" id="btnRechazar" class="btnStyle btn-modal-aceptar"><i class='fas fa-paper-plane'></i> Enviar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Documentación pendiente -->
<div class="modal fade" id="modalDocumentacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-purple">
                <h5 class="modal-title" id="exampleModalLongTitle">Descripción de la información a solicitar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <label for="observaciones" class="col-form-label label-b">Ingrese una descripción de la información a solicitar</label>
                        <textarea class="form-control" id="txtDocumentacion" placeholder="Ej. Descripción de la información a solicitar"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btnStyle btnWhite btn-modal-cancelar" data-dismiss="modal">Cancelar</button>
                <button type="button" id="btnDocPendiente" class="btnStyle btn-modal-aceptar"><i class='fas fa-paper-plane'></i> Enviar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Aeropuertos -->
<div class="modal fade" id="modalAeropuertos" tabindex="-1" role="dialog" aria-labelledby="aeropuertoModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-purple">
                <h5 class="modal-title" id="aeropuertoModalCenterTitle">Aeropuertos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="aeropuertosContainer" class="col-sm-12 mt-4">
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btnStyle btn-modal-aceptar">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var proveedorCuentaList = [];

    var fn_CargarDoctos = function (idProveedor) {
        var jsonData = JSON.stringify({ idProveedor: idProveedor });
         $.ajax({
             type: "POST",
             contentType: "application/json; charset=utf-8",
             url: '@Url.Action("GetDocumentosList", "Home")',
             data: jsonData,
             async: false,
             success: function(data) {
                 $("#TableDocumento").html('');
                 $("#TableDocumento").append('<thead class="bg-light-purple"><tr>' +
                     '<td>Nombre</td>' +
                     '<td>Documento</td>' + '</tr></thead>'
                 );
                 $("#TableDocumento").DataTable().clear().draw();
                 $("#TableDocumento").DataTable().destroy();

                 $("#TableDocumento").append('<tbody>');
                 console.log("Documentos", data);
                 for (i = 0; i < data.length; i++) {

                     $("#TableDocumento").append('<tr>' +
                         '<td style="dislay: none;"><b>' + data[i].NombreDocumento + '</b></td>' +
                         '<td style="dislay: none;"><button class="btn-descargar">Descargar</button></tr>'
                     );

                     $("#PanelDocumentos").append(
                         '<div class="col-sm-6 mt-2" style="border:solid 1px #c6c7cb; padding:10px;">'+
                            '<div class="row">'+
                                '<div class="col-sm-10"> <label style="font-weight:600;">' + data[i].DescripcionDocumento + '</label> </div>'+
                                '<div class="col-sm-2">'+
                                    '<a href="' + data[i].NombreArchivo + '" download="archivo">'+
                                        '<img src="/Content/Images/descargar.png" width="30" />'+
                                    '</a>'+
                                '</div>'+
                            '</div>'+
                        '</div>'
                     );
                 }
                 $("#TableDocumento").append('</tbody>');

                 $('#TableDocumento').DataTable({
                        "paging": false,
                         "bScrollInfinite": true,
                         "bScrollCollapse": true
                     });

             },
         });
    }

    var fn_CargarCuentas = function (idProveedor) {
        var jsonData = JSON.stringify({ idProveedor: idProveedor });
         $.ajax({
             type: "POST",
             contentType: "application/json; charset=utf-8",
             url: '@Url.Action("GetDetalleCuentaList", "Home")',
             data: jsonData,
             async: false,
             success: function (data) {
                 proveedorCuentaList = data;
                 console.log(proveedorCuentaList);
                 $("#Table").html('');
                 $("#Table").append('<thead class="bg-light-purple"><tr>' +
                     '<td style="display:none">IdProveedorCuenta</td>' +
                     '<td>Cuenta</td>' +
                     '<td>NombreBanco</td>' +
                     '<td>CLABE</td>' +
                     '<td>TipoCuenta</td>' +
                     '<td>Aeropuertos</td>' + '</tr></thead>'
                 );
                 $("#Table").DataTable().clear().draw();
                 $("#Table").DataTable().destroy();

                 $("#Table").append('<tbody>');
                 for (i = 0; i < data.length; i++) {

                     $("#Table").append('<tr>' +
                         //'<td style="display:none"><b>' + data[i].TipoCuenta + '</b></td>' +
                         '<td style="display:none">' + data[i].IdProveedorCuenta + '</td>' +
                         '<td><b>' + data[i].Cuenta + '</b></td>' +
                         '<td>' + data[i].NombreBanco + '</td>' +
                         '<td>' + data[i].CLABE + '</td>' +
                         '<td>' + data[i].TipoCuenta + '</td>' +
                         '<td><a class="verAeropuertos" href="#" >Ver</a></td>' + '</tr>'
                     );
                 }
                 $("#Table").append('</tbody>');

                 $('#Table').DataTable({
                        "paging": false,
                         "bScrollInfinite": true,
                         "bScrollCollapse": true
                     });

             },
         });
    }

    $(document).ready(function () {
        var url = '@Url.Action("AprobarTesoreria", "Tesoreria")';
        var idProveedor = $("#IdProveedor").val();
        
        console.log(idProveedor);
        fn_CargarCuentas(idProveedor);
        fn_CargarDoctos(idProveedor);

        var table = $('#Table').DataTable();
 
        $('#Table tbody').on( 'click', '.verAeropuertos', function () {
            var data = table.row($(this).closest('tr')).data()[0];
            console.log(data);
            console.log(proveedorCuentaList);
            let seleccionado = proveedorCuentaList.filter(cuenta => cuenta.IdProveedorCuenta == data);
            console.log('elemento seleccionado');
            console.log(seleccionado);
            console.log(seleccionado[0].AeropuertoList);
            
            let aeropuertos = '';
            for (let i = 0; i < seleccionado[0].AeropuertoList.length; i++) {
                aeropuertos += '<p class="list-aero">' + seleccionado[0].AeropuertoList[i].Nombre + '</p>';
            }
            $('#aeropuertosContainer').html(aeropuertos);

            $('#modalAeropuertos').modal('show');
        });

        $("#btnAprobar").click(function () {
            obs = "";
            estatus = 8;

            var jsonData = JSON.stringify({ idProveedor: idProveedor, observaciones: obs, estatus: estatus });
            Swal.fire({
                title: '¿Esta seguro de aprobar la información financiera?',

                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#432979',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                     $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            url: "/Home/SetProveedorEstatus",
                            data: jsonData,
                            async: false,
                            success: function (data) {
                                if (data) {
                                   Swal.fire({
                                        position: 'middle',
                                        icon: 'success',
                                        title: 'La información ha sido aprobada con éxito',
                                        showConfirmButton: false,
                                        timer: 1500
                                    })
                                    setTimeout(function(){  window.location.href = url; }, 1500);
                                }

                            },
                        });
                }
            })


        });

        $("#btnRechazar").click(function () {
             obs = $("#observaciones").val();
            estatus = 6;

            var jsonData = JSON.stringify({ idProveedor: idProveedor, observaciones: obs, estatus: estatus });
            Swal.fire({
                title: '¿Esta seguro de rechazar la información financiera?',

                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#432979',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                     $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            url: "/Home/SetProveedorEstatus",
                            data: jsonData,
                            async: false,
                            success: function (data) {
                                if (data) {
                                    $('#modalRechazar').modal('hide');
                                    Swal.fire({
                                        position: 'middle',
                                        icon: 'success',
                                        title: 'El información ha sido rechazada con éxito',
                                        showConfirmButton: false,
                                        timer: 1500
                                    })
                                    setTimeout(function(){  window.location.href = url; }, 1500);
                                }

                            },
                        });
                }
            })
        });

        $("#btnDocPendiente").click(function () {
            obs = $("#txtDocumentacion").val();
            console.log($("#txtDocumentacion").val());
            estatus = 7;

            var jsonData = JSON.stringify({ idProveedor: idProveedor, observaciones: obs, estatus: estatus });
            Swal.fire({
                title: '¿Esta seguro de enviar la documentación pendiente?',

                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#432979',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                     $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            url: "/Home/SetProveedorEstatus",
                            data: jsonData,
                            async: false,
                            success: function (data) {
                                if (data) {
                                    $('#modalDocumentacion').modal('hide');
                                    Swal.fire({
                                        position: 'middle',
                                        icon: 'success',
                                        title: 'La documentación pendiente ha sido enviada con éxito',
                                        showConfirmButton: false,
                                        timer: 1500
                                    })
                                    setTimeout(function(){  window.location.href = url; }, 1500);
                                }

                            },
                        });
                }
            })
        });
    });
</script>

<style>
    .btn-descargar {
        border-radius: 24px;
        background-color: #f7f6f9;
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        text-align: center;
        color: #432979;
        border: none;
        padding: 4px 16px;
    }
</style>
