@model EprocurementWeb.Models.UsuarioModel
@{
    ViewBag.Title = "Recuperacion de contraseña";
    Layout = null;
}

<link href="~/Content/Styles/Login.css" rel="stylesheet" />
<link href="~/Content/Styles/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/modernizr")

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="background row" style="padding-bottom: 0px;">
        <div class="col-sm-7">
            <div class="pnl-logo">
                <img src="~/Content/Images/logo-gap-color.png" width="154" />
            </div>
            <div class="content-title">
                <h1 class="title">PORTAL<br /> DE PROVEEDORES</h1>
            </div>
        </div>
        <div class="col-sm-5 containerLogin">
            @using (Html.BeginForm("IniciarRecuperacion", "Seguridad", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row pb-0">
                    <div class="col-sm-12">
                        <br /><br /><br /><br /><br /><br /><br />
                        <h3 class="subtitle">
                            Recuperación de contraseña
                        </h3>
                    </div>
                </div>

                <div class="formPrincipal">
                    <div class="row login-user">
                        <div class="col-sm-2">
                            &nbsp;
                        </div>
                        <div class="col-sm-8">
                            <div class="inputIF">
                                @Html.LabelFor(model => model.NombreUsuario, new { @class = "labelTexto control-label" })
                            </div>
                            <div class="inputIF">
                                @Html.TextBoxFor(model => model.NombreUsuario, new { @class = "form-control inputIF" })
                            </div>
                        </div>
                    </div>
                    <div class="row" style="text-align:center;">
                        <div class="col-sm-12">@ViewBag.Error</div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-sm-2">&nbsp;</div>
                        <div class="col-sm-8"><input type="submit" value="Recuperar" class="btnStyle btn-radius" /></div>
                    </div>
                </div>

            }
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        if (window.location.hash == "#success") {
            Swal.fire({
                position: 'middle',
                icon: 'success',
                title: '¡Recuperación de contraseña!',
                html: '<p class="text">Se ha iniciado el proceso de recuperación.</p> ' +
                    '</br> <p class="text">Hemos enviado un email a su correo para continuar con el proceso.</p>',
                showConfirmButton: true,
                timer: 3000
            })
        }
        if (window.location.hash == "#errorSuccess") {
            Swal.fire({
                position: 'middle',
                icon: 'error',
                title: '¡Recuperación de contraseña!',
                html: '<p class="text">Se generó un error al iniciar el proceso de recuperación.</p> ' +
                    '</br> <p class="text">Inténtelo mas tarde.</p>',
                showConfirmButton: true,
                timer: 5000
            })
        }
    });
</script>