@model EprocurementWeb.Models.ProveedorModel

@{
    ViewBag.Title = @EprocurementWeb.GlobalResources.RHome.Title;
}

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script type="text/javascript">
    var onloadCallback = function () {
        //alert("grecaptcha is ready!");
    };
</script>
<link href="~/Content/Css/infoCuenta.css" rel="stylesheet" />
<link href="~/Content/validacionProveedor.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
@using (Html.BeginForm("ActualizarProveedor", "MiCuenta", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row pb-0">
            <div class="col-sm-12">
                <h3 class="subtitle">
                    Detalles de companía
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="accordion" id="accordionExample">
                    <div class="card card-border">
                        <div class="card-header" id="headingOne">
                            <span class="card-titulo">
                                Detalles de la compañía
                                <button class="btn btn-link collapsed float-right" type="button" data-toggle="collapse" data-target="#detallecompania" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="fas fa-chevron-up collapse-color"></i>
                                </button>
                            </span>
                        </div>
                        <div id="detallecompania" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12" style="font-size:12px;">
                                            <label class="label-formulario">@EprocurementWeb.GlobalResources.RHome.CompanyTypeTitle</label><br />
                                            @Html.ValidationMessage("ErrorTipoEmpresa", "", new { @class = "field-validation-error" })
                                            @Html.CheckBoxFor(m => m.Mexicana, new { @class = "" })
                                            @Html.LabelFor(m => m.Mexicana, new { @class = "" })&nbsp;&nbsp;&nbsp;&nbsp;
                                            @Html.CheckBoxFor(m => m.Extranjera, new { @class = "" })
                                            @Html.LabelFor(m => m.Extranjera, new { @class = "" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.NombreEmpresa, new { @class = "label-formulario" })
                                                @Html.TextBoxFor(model => model.NombreEmpresa, new { placeholder = "Ej. Grupo Aeroportuario del Pacífico", @class = "form-control col-md-12" })
                                                @Html.ValidationMessageFor(model => model.NombreEmpresa, "", new { @class = "label-formulario field-validation-error" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.RazonSocial, new { @class = "label-formulario" })
                                                @Html.TextBoxFor(model => model.RazonSocial, new { placeholder = "Ej. Grupo Aeroportuario del Pacífico", @class = "form-control col-md-12" })
                                                @Html.ValidationMessageFor(model => model.RazonSocial, "", new { @class = "label-formulario field-validation-error" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.RFC, new { @class = "label-formulario" })
                                                @Html.TextBoxFor(model => model.RFC, new { placeholder = "13 caracteres", @class = "form-control col-md-12", @readonly = true })
                                                @Html.ValidationMessageFor(model => model.RFC, "", new { @class = "label-formulario field-validation-error" })
                                            </div>
                                        </div>
                                        <div class="col-md-6" id="inpgro-nif">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.NIF, new { @class = "label-formulario" })
                                                @Html.TextBoxFor(model => model.NIF, new { @class = "form-control col-md-12" })
                                            </div>
                                        </div>

                                        <div class="col-md-3" id="inpgro-tin">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Direccion.TIN, new { id = "lblTIN", @class = "label-formulario" })
                                                @Html.TextBoxFor(model => model.Direccion.TIN, new { @class = "form-control col-md-12" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Direccion.CodigoPostal, new { @class = "label-formulario" })
                                                @Html.TextBoxFor(model => model.Direccion.CodigoPostal, new { placeholder = "5 caracteres", @class = "form-control col-md-12" })
                                                @Html.ValidationMessageFor(model => model.Direccion.CodigoPostal, "", new { @class = "label-formulario field-validation-error" })
                                            </div>
                                        </div>
                                        <div class="col-md-3" id="inpgro-Colonia">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Direccion.Colonia, new { id = "lblColonia", @class = "label-formulario" })
                                                @Html.DropDownListFor(model => model.Direccion.Colonia, new SelectList(ViewBag.colonias), "...", new { @class = "form-control col-md-12 ", @id = "ColoniaProveedor" })
                                                @*@Html.TextBoxFor(model => model.Direccion.Colonia, new { @class = "form-control col-md-12" })*@
                                            </div>
                                        </div>

                                        <div class="col-md-3" id="inpgro-Municipio">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Direccion.Municipio, new { id = "lblMunicipio", @class = "label-formulario" })
                                                @Html.TextBoxFor(model => model.Direccion.Municipio, new { @class = "form-control col-md-12" })
                                            </div>
                                        </div>

                                        <div class="col-md-3 intgru-esta" id="inpgro-Estado">
                                            <div class="form-group">
                                                @*@Html.Label("estado", @RHome.State, new { @class = "label-formulario" })*@
                                                @Html.Label("estado", "Estado", new { id = "lblEstado", @class = "label-formulario" })
                                                @Html.TextBoxFor(model => model.Direccion.Estado, new { @class = "form-control col-md-12" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Direccion.IdPais, new { @class = "label-formulario" })
                                                @Html.DropDownListFor(model => model.Direccion.IdPais, new SelectList(ViewBag.PaisList, "IdPais", "Nombre"), "Seleccione", new { @class = "form-control col-md-12", @id = "PaisProveedor" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Direccion.Calle, new { @class = "label-formulario" })
                                                @Html.TextBoxFor(model => model.Direccion.Calle, new { @class = "form-control col-md-12" })
                                                @Html.ValidationMessageFor(model => model.Direccion.Calle, "", new { @class = "label-formulario field-validation-error" })
                                            </div>
                                        </div>


                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.IdZonaHoraria, new { @class = "label-formulario" })
                                                @Html.DropDownListFor(model => model.IdZonaHoraria, new SelectList(ViewBag.ZonaHorariaList, "IdZonaHoraria", "Nombre"), "Seleccione", new { @class = "form-control col-md-12" })
                                                @Html.ValidationMessageFor(model => model.IdZonaHoraria, "", new { @class = "label-formulario field-validation-error" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ProvTelefono, new { @class = "label-formulario" })
                                                @Html.TextBoxFor(model => model.ProvTelefono, new { placeholder = "55 1234 5678", @class = "form-control col-md-12" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ProvFax, new { @class = "label-formulario" })
                                                @Html.TextBoxFor(model => model.ProvFax, new { @class = "form-control col-md-12" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PaginaWeb, new { @class = "label-formulario" })
                                                @Html.TextBoxFor(model => model.PaginaWeb, new { placeholder = "Ej. www.mipaginaweb.com", @class = "form-control col-md-12" })
                                            </div>
                                        </div>
                                        @*<div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.Label("tipoProveedor", @RHome.ProvType, new { @class = "label-formulario" })
                                                    @Html.DropDownListFor(model => model.IdTipoProveedor, new SelectList(ViewBag.TipoProveedorList, "IdTipoProveedor", "Tipo"), "...", new { @class = "form-control col-md-12" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.Label("axNumeroProveedor", @RHome.AXProviderNum, new { @class = "label-formulario" })
                                                    @Html.TextBoxFor(model => model.AXNumeroProveedor, new { @class = "form-control col-md-12" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.Label("nacionalidad", @RHome.Nacionality, new { @class = "label-formulario" })
                                                    @Html.DropDownListFor(model => model.IdNacionalidad, new SelectList(ViewBag.NacionalidadList, "IdNacionalidad", "Nombre"), "...", new { @class = "form-control col-md-12" })
                                                </div>
                                            </div>*@

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="accordion" id="accordionExample">
                    <div class="card card-border">
                        <div class="card-header" id="headingOne">
                            <span class="card-titulo">
                                Detalles del contacto
                                <button class="btn btn-link collapsed float-right" type="button" data-toggle="collapse" data-target="#detallecontacto" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="fas fa-chevron-up collapse-color"></i>
                                </button>
                            </span>
                        </div>
                        <div id="detallecontacto" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Contacto.NombreContacto, new { @class = "label-formulario" })
                                                @Html.TextBoxFor(model => model.Contacto.NombreContacto, new { @class = "form-control col-md-12" })
                                                @Html.ValidationMessageFor(model => model.Contacto.NombreContacto, "", new { @class = "label-formulario field-validation-error" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Contacto.Cargo, new { @class = "label-formulario" })
                                                @Html.TextBoxFor(model => model.Contacto.Cargo, new { @class = "form-control col-md-12" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Contacto.IdNacionalidad, new { @class = "label-formulario" })
                                                @Html.DropDownListFor(model => model.Contacto.IdNacionalidad, new SelectList(ViewBag.NacionalidadList, "IdNacionalidad", "Nombre"), "...", new { @class = "form-control col-md-12" })
                                                @Html.ValidationMessageFor(model => model.Contacto.IdNacionalidad, "", new { @class = "label-formulario field-validation-error" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Contacto.TelefonoDirecto, new { @class = "label-formulario" })
                                                @Html.TextBoxFor(model => model.Contacto.TelefonoDirecto, new { placeholder = "Ej. 55 1234 5678", @class = "form-control col-md-12" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Contacto.TelefonoMovil, new { @class = "label-formulario" })
                                                @Html.TextBoxFor(model => model.Contacto.TelefonoMovil, new { placeholder = "Ej. 55 1234 5678", @class = "form-control col-md-12" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Contacto.Fax, new { @class = "label-formulario" })
                                                @Html.TextBoxFor(model => model.Contacto.Fax, new { @class = "form-control col-md-12" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Contacto.Email, new { @class = "label-formulario" })
                                                @Html.TextBoxFor(model => model.Contacto.Email, new { placeholder = "Ej. correo@dominio.com", @class = "form-control col-md-12", @readonly = true })
                                                @Html.ValidationMessageFor(model => model.Contacto.Email, "", new { @class = "label-formulario field-validation-error" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Contacto.IdPais, new { @class = "label-formulario" })
                                                @Html.DropDownListFor(model => model.Contacto.IdPais, new SelectList(ViewBag.PaisList, "IdPais", "Nombre"), "...", new { @class = "form-control col-md-12" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Contacto.IdZonaHoraria, new { @class = "label-formulario" })
                                                @Html.DropDownListFor(model => model.Contacto.IdZonaHoraria, new SelectList(ViewBag.ZonaHorariaList, "IdZonaHoraria", "Nombre"), "...", new { @class = "form-control col-md-12" })
                                                @Html.ValidationMessageFor(model => model.Contacto.IdZonaHoraria, "", new { @class = "label-formulario field-validation-error" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Contacto.IdIdioma, new { @class = "label-formulario" })
                                                @Html.DropDownListFor(model => model.Contacto.IdIdioma, new SelectList(ViewBag.IdiomaList, "IdIdioma", "NombreIdioma"), "...", new { @class = "form-control col-md-12" })
                                                @Html.ValidationMessageFor(model => model.Contacto.IdIdioma, "", new { @class = "label-formulario field-validation-error" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="accordion" id="accordionExample">
                    <div class="card card-border">
                        <div class="card-header" id="headingOne">
                            <span class="card-titulo">
                                Especialidades de la empresa
                                <button class="btn btn-link collapsed float-right" type="button" data-toggle="collapse" data-target="#especialidadEmpresa" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="fas fa-chevron-up collapse-color"></i>
                                </button>
                            </span>
                        </div>
                        <div id="especialidadEmpresa" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            @Html.Label("", @EprocurementWeb.GlobalResources.RHome.AeropuertosAtender, new { @class = "label-formulario" }) &nbsp;&nbsp;
                                            @Html.ValidationMessage("ErrorAeropuerto", new { @class = "label-formulario field-validation-error" })
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="checkbox" id="checkall" /> <label for="checkall" style="font-size:12px;">Seleccionar todos</label>
                                                </div>
                                                @for (int idx = 0; idx < Model.AeropuertoList.Count; idx++)
                                                {
                                                    @Html.HiddenFor(model => model.AeropuertoList[idx].Id)
                                                    @Html.HiddenFor(model => model.AeropuertoList[idx].Nombre)
                                                    <div class="col-sm-4 mt-2 check" style="font-size:12px;">
                                                        @Html.CheckBoxFor(model => model.AeropuertoList[idx].Checado)
                                                        @Html.DisplayTextFor(model => model.AeropuertoList[idx].Nombre)
                                                    </div>
                                                }
                                            </div>

                                            <hr />
                                            <span style="font-size:14px; font-weight:bold;">
                                                @Html.Label("", @EprocurementWeb.GlobalResources.RHome.ProveedorGiros, new { @class = "control-label m-b-1" })
                                            </span>&nbsp;&nbsp;
                                            @Html.ValidationMessage("ErrorEmpresa", new { @class = "label-formulario field-validation-error" })

                                            @for (int idx = 0; idx < Model.ProveedorGiroList.Count; idx++)
                                            {
                                                @*@Html.HiddenFor(model => model.ProveedorGiroList[idx].IdProveedorGiro)*@
                                                <div class="form-group col-md-6 ">
                                                    <div class="col-md-12">
                                                        @Html.DropDownListFor(x => x.ProveedorGiroList[idx].IdCatalogoGiro, new SelectList(ViewBag.GiroList, "IdGiro", "GiroNombre"), new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            }
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btnStyleGray col-md-3">Agregar</button>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">

        </div>

        <div class="row">
            <div class="col-sm-6">&nbsp;</div>
            <div class="col-sm-3">
                <button class="btnStyle btnWhite" type="submit">Cancelar</button>
            </div>
            <div class="col-sm-3">
                <button class="btnStyle" type="submit">Aceptar</button>
            </div>
        </div>
    </div>

}


    <div class="row">
        <div class="col-md-12 text-center">
            <p class="text-center">
                @* <img src="@Url.GetImage("Welcome.jpg")" alt="Welcome"/>*@
            </p>

        </div>
    </div>

    <script type="text/javascript">

    $(document).ready(function () {
         var url = '@Url.Action("Contact", "Home")';
        if (window.location.hash == "#isuccess" ){
            Swal.fire({
                position: 'middle',
                icon: 'success',
                title: '¡Actualización Exitosa!',
                html: '<p class="text">Su información será validada.</p> ' +
                    '</br> <p class="text">Agradecemos su interés en formar parte de ' +
                    'nuestro padrón de proveedores. ' +
                    'Su solicitud será revisada por personal de ' +
                    'Adquisiciones. En breve recibirá la respuesta.</p></br>' +
                    '<p class="text">Atte:</p></br>' +
                    '<p class="text">Departamento de Adquisiciones, Grupo Aeroportuario del Pacífico.</p>',
                showConfirmButton: true,
                timer: 3000
            })

            //setTimeout(function(){  window.location.href = url; }, 1500);


            //location.hash = '#';
        }





        $("#PaisProveedor").change(function () {
            var dID = $('#PaisProveedor option:selected').val();
            $.getJSON("/Home/GetEstados", { idPais: dID },
                function (data) {
                    var select = $("#EstadoProveedor");
                    var selectMunicipio = $("#MunicipioProveedor");
                    select.empty();
                    selectMunicipio.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "..."
                    }));
                    selectMunicipio.append($('<option/>', {
                        value: 0,
                        text: "..."
                    }));
                    $.each(data, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.IdEstado,
                            text: itemData.Nombre
                        }));
                    });
                });
        });

        $("#EstadoProveedor").change(function () {
            var dID = $('#EstadoProveedor option:selected').val();
            $.getJSON("/Home/GetMunicipios", { idEstado: dID },
                function (data) {
                    var select = $("#MunicipioProveedor");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "..."
                    }));
                    $.each(data, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.IdMunicipio,
                            text: itemData.Nombre
                        }));
                    });
                });
        });

        $("#checkall").change(function () {
            var chall = $('#checkall').prop('checked');
            $(".check input:checkbox").prop('checked', chall);
        });

        /// Cargar Paises
        //$.ajax({
        //    url: "/Home/GetPaisesList",
        //    type: "GET",
        //    contentType: "application/json; charset=utf-8",
        //    datatype: JSON,
        //    success: function (result) {
        //        $(result).each(function () {
        //            $("#pais").append($("<option></option>").val(this.IdPais).html(this.Nombre));
        //        });
        //        $(result).each(function () {
        //            $("#paisConctacto").append($("<option></option>").val(this.IdPais).html(this.Nombre));
        //        });
        //    },
        //    error: function (data) { }
        //});

        ///// Cargar Aeropuertos
        //$.ajax({
        //    url: "/Home/GetAeropuertosList",
        //    type: "GET",
        //    contentType: "application/json; charset=utf-8",
        //    datatype: JSON,
        //    success: function (result) {
        //        $.each(result, function (key, value) {
        //            var li = $('<li><input  type="checkbox" name="' + key + '" id="' + key + '"/>' +
        //                '<label for="' + key + '"></label></li>');
        //            li.find('label').text(value.GiroNombre);
        //            $('#wkslist').append(li);
        //        });
        //    },
        //    error: function (data) { }
        //});

        /// Cargar Giros
        //$.ajax({
        //    url: "/Home/GetGirosList",
        //    type: "GET",
        //    contentType: "application/json; charset=utf-8",
        //    datatype: JSON,
        //    success: function (result) {
        //        $(result).each(function () {
        //            $("#giro1").append($("<option></option>").val(this.IdGiro).html(this.GiroNombre));
        //        });
        //        $(result).each(function () {
        //            $("#giro2").append($("<option></option>").val(this.IdGiro).html(this.GiroNombre));
        //        });
        //        $(result).each(function () {
        //            $("#giro3").append($("<option></option>").val(this.IdGiro).html(this.GiroNombre));

        //        });
        //        $(result).each(function () {
        //            $("#giro4").append($("<option></option>").val(this.IdGiro).html(this.GiroNombre));
        //        });
        //        $(result).each(function () {
        //            $("#giro5").append($("<option></option>").val(this.IdGiro).html(this.GiroNombre));
        //        });
        //        //$(result).each(function () {u eres
        //        //    $("#paisConctacto").append($("<option></option>").val(this.IdPais).html(this.Nombre));
        //        //});
        //    },
        //    error: function (data) { }
        //});
        /// Cargar Giros
        //$.ajax({
        //    url: "/Home/GetZonaHorariaList",
        //    type: "GET",
        //    contentType: "application/json; charset=utf-8",
        //    datatype: JSON,
        //    success: function (result) {
        //        $(result).each(function () {
        //            $("#zonaHoraria").append($("<option></option>").val(this.IdPais).html(this.Nombre));
        //        });
        //        $(result).each(function () {
        //            $("#zonaHorariaContacto").append($("<option></option>").val(this.IdPais).html(this.Nombre));
        //        });

        //    },
        //    error: function (data) { }
        //});

        /// Cargar Nacionalidad
        //$.ajax({
        //    url: "/Home/GetNacionalidadList",
        //    type: "GET",
        //    contentType: "application/json; charset=utf-8",
        //    datatype: JSON,
        //    success: function (result) {
        //        $(result).each(function () {
        //            $("#nacionalidad").append($("<option></option>").val(this.IdPais).html(this.Nombre));
        //        });


        //    },
        //    error: function (data) { }
        //});


        if ($("#Mexicana").is(':checked')) {
            $("#ColoniaProveedor").removeClass("control-display-none");
            $("#lblColonia").removeClass("control-display-none");
            //$("#Direccion_Colonia").addClass("control-display-none");
            $("#PaisProveedor option:disabled").removeAttr('disabled');


            $("#lblEstado").removeClass("control-display-none");
            $("#Direccion_Estado").removeClass("control-display-none");
            $("#lblMunicipio").removeClass("control-display-none");
            $("#Direccion_Municipio").removeClass("control-display-none");
            $("#lblTIN").addClass("control-display-none");
            $("#Direccion_TIN").addClass("control-display-none");
                $("#PaisProveedor").val(1);
            //$("#PaisProveedor").prop("disabled", true);

            $("#inpgro-tin").hide();
        } else {
            var value = 1;
            $('#PaisProveedor option[value="'+value+'"]').attr("disabled", true);
            $("#Extranjera").val(true);
            //$("#Direccion_Colonia").removeClass("control-display-none");
            $("#lblColonia").addClass("control-display-none");
            $("#ColoniaProveedor").addClass("control-display-none");
            //$("#Direccion_Colonia").addClass("control-display-none");
            $("#lblEstado").addClass("control-display-none");
            $("#Direccion_Estado").addClass("control-display-none");
            $("#lblMunicipio").addClass("control-display-none");
            $("#Direccion_Municipio").addClass("control-display-none");

            $("#lblTIN").removeClass("control-display-none");
            $("#Direccion_TIN").removeClass("control-display-none");

            $("#PaisProveedor").prop("disabled", false);

            $("#inpgro-tin").show();
        }

        var idPais = $('#PaisProveedor option:selected').val();
        if (idPais == 1) {
            var idEstado = $('#EstadoProveedor option:selected').val();
            if (idEstado > 0) {
                obtenerMunicipio(idEstado, '@ViewBag.idMunicipio');
            }
        }

        $("#Direccion_CodigoPostal").on("change", function () {
            var codigoPostal = this.value;

            if ($("#Mexicana").is(':checked') && this.value.length == 5) {
                obtenerCodigoInfo(codigoPostal);
            }
        });

        $("#Mexicana").on("change", function () {
            if ($(this).is(':checked')) {
                console.log(1)
                //$("#PaisProveedor").prop("disabled", true);
                $("#PaisProveedor").val(1);
                $("#Extranjera").prop("checked", false);
                $("#PaisProveedor option:disabled").removeAttr('disabled');

                $("#ColoniaProveedor").removeClass("control-display-none");
                $("#lblColonia").removeClass("control-display-none");
                $("#lblEstado").removeClass("control-display-none");
                $("#Direccion_Estado").removeClass("control-display-none");
                $("#lblMunicipio").removeClass("control-display-none");
                $("#Direccion_Municipio").removeClass("control-display-none");
                $("#lblTIN").addClass("control-display-none");
                $("#Direccion_TIN").addClass("control-display-none");
                $("#inpgro-nif").removeClass('col-md-3');
                $("#inpgro-nif").addClass('col-md-6');
                $("#inpgro-tin").hide();
                $("#inpgro-Municipio").show();
                $("#inpgro-Estado").show();
                $("#inpgro-Colonia").show();


            } else {
                console.log(2)
                var value = 1;
                $("#lblMunicipio").addClass("control-display-none");
                $("#Direccion_Municipio").addClass("control-display-none");
                $('#PaisProveedor option[value="' + value + '"]').attr("disabled", true);
                $("#PaisProveedor").val(2);
                $("#ColoniaProveedor").addClass("control-display-none");
                $("#Extranjera").prop("checked", true);
                $("#lblColonia").addClass("control-display-none");
                $("#lblEstado").addClass("control-display-none");
                $("#Direccion_Estado").addClass("control-display-none");
                $("#inpgro-nif").removeClass('col-md-6');
                $("#inpgro-nif").addClass('col-md-3');
                $("#inpgro-tin").show();
                $("#inpgro-Municipio").hide();
                $("#inpgro-Estado").hide();
                $("#inpgro-Colonia").hide();
                $("#lblTIN").removeClass("control-display-none");
                $("#Direccion_TIN").removeClass("control-display-none");
            }
        });
        $("#Extranjera").on("change", function () {
            if ($(this).is(':checked')) {
            console.log(3)
                var value = 1;
                $('#PaisProveedor option[value="' + value + '"]').attr("disabled", true);
                $("#PaisProveedor").val(0);
                $("#ColoniaProveedor").addClass("control-display-none");
                $("#Mexicana").prop("checked", false);
                $("#lblColonia").addClass("control-display-none");
                $("#lblEstado").addClass("control-display-none");
                $("#Direccion_Estado").addClass("control-display-none");
                $("#lblMunicipio").addClass("control-display-none");
                $("#Direccion_Municipio").addClass("control-display-none");
                $("#inpgro-nif").removeClass('col-md-6');
                $("#inpgro-nif").addClass('col-md-3');
                $("#inpgro-tin").show();
                $("#inpgro-Municipio").hide();
                $("#inpgro-Estado").hide();
                $("#inpgro-Colonia").hide();

            $("#lblTIN").removeClass("control-display-none");
            $("#Direccion_TIN").removeClass("control-display-none");
            } else {
                console.log(4)
                $("#ColoniaProveedor").removeClass("control-display-none");
                $("#PaisProveedor option:disabled").removeAttr('disabled');
                $("#PaisProveedor").val(1);
                $("#Mexicana").prop("checked", true);

                $("#lblColonia").removeClass("control-display-none");
                $("#lblEstado").removeClass("control-display-none");
                $("#Direccion_Estado").removeClass("control-display-none");
                $("#lblMunicipio").removeClass("control-display-none");
                $("#Direccion_Municipio").removeClass("control-display-none");

                $("#inpgro-nif").removeClass('col-md-6');
                $("#inpgro-nif").addClass('col-md-3');
                $("#inpgro-tin").hide();
                $("#inpgro-Municipio").show();
                $("#inpgro-Estado").show();
                $("#inpgro-Colonia").show();
            $("#lblTIN").addClass("control-display-none");
            $("#Direccion_TIN").addClass("control-display-none");
            }
        });

        function obtenerCodigoInfo(codigoPostal) {
            $.getJSON("/Home/GetCodigoPostalInfo", { codigoPostal: codigoPostal },
                function (data) {
                    console.log();
                    $("#Direccion_Estado").val(data.estado);
                    $("#Direccion_Municipio").val(data.municipio);
                    var selectColonia = $("#ColoniaProveedor");
                    selectColonia.empty();
                    selectColonia.append($('<option/>', {
                        value: 0,
                        text: "..."
                    }));
                        $("#ColoniaProveedor").removeClass("control-display-none");
                        $.each(data.colonias, function (index, itemData) {
                            selectColonia.append($('<option/>', {
                                value: itemData,
                                text: itemData
                            }));
                        });

                    if (data.colonias.length == 1) {

                        $("#ColoniaProveedor").val(data.colonias[0])
                    }

                });
        }

    });
    </script>
