<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/Styles/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css" />
    <link href="~/Content/Gestor.css" rel="stylesheet" />
</head>
<body>
    <div class="" style="width:100%; background-color:white;">
        <div class="row panel-header" style="width:100%;">
            <div class="col-sm-4">
                <img class="gap-logo" src="~/Content/Images/logo-gap-color.png" />
            </div>

            <div class="col-sm-4 t-a-c">
                <h1 class="h-title">
                    Bienvenido al portal de proveedor
                </h1>
            </div>

            <div class="" style="flex: 0 0 33.333333%; max-width: 33.333333%;">
                <table width="100%" class="panel-user-control">
                    <tr>
                        <td>
                            <div class="menu-user">
                                <span style="font-weight:600; font-size:12px;" id="userInfo"></span> <img class="padding-user" src="~/Content/Images/user-photo.png" width="25" />
                                <ul>
                                    <li><a href="@Url.Action("Index", "MiCuenta")">Mi cuenta</a></li>
                                    <li><a href="@Url.Action("Index", "Contacto")">Contactos</a></li>
                                    <li><a href="@Url.Action("ActualizarPassword", "MiCuenta")">Cambiar Contraseña</a></li>
                                    <li><a href="@Url.Action("Index", "Seguridad")">Cerrar sesión</a></li>
                                </ul>
                            </div>
                        </td>
                        <td width="32px" style="border:none; border-left:solid 1px #f9f9f9;">
                            <a href="@Url.Action("Index", "Seguridad")">
                                <img class="padding-user cursor" src="~/Content/Images/shutdow-icon.png" width="25" />
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row-nav" style="width:100%;">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                @*<a class="navbar-brand" href="#">Navbar</a>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li id="nav-1" class="nav-item">
                            @*@Html.ActionLink("Facturas", "InformacionBF", "AltaProveedor", new { @class = "nav-link" })*@
                            @*<a class="nav-link" href="Index">Facturas <span class="sr-only"></span></a>*@
                            <a class="nav-link" href="@Url.Action("Index", "Gestion")">Facturas</a>
                        </li>
                        @*@if (ViewBag.view == 2) { active }*@
                        <li id="nav-2" class="nav-item">
                            @*<a class="nav-link" href="SolicitudFacturacion">Solicitud de facturación <span class="sr-only"></span></a>*@
                            <a class="nav-link" href="@Url.Action("SolicitudFacturacion", "Gestion")">Solicitud de facturación</a>
                        </li>
                        <li id="nav-3" class="nav-item">
                            @*<a class="nav-link" href="SolicitudCotizacion">Solicitud de cotización <span class="sr-only"></span></a>*@
                            <a class="nav-link" href="@Url.Action("SolicitudCotizacion", "Gestion")">Solicitud de cotización</a>
                        </li>
                        <li id="nav-4" class="nav-item">
                            @*<a class="nav-link" href="OrdenCompra">Órden de compra<span class="sr-only"></span></a>*@
                            <a class="nav-link" href="@Url.Action("OrdenCompra", "Gestion")">Órden de compra</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="container">
            @RenderBody()
        </div>

        <hr />
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/datatable")
    @*<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>*@
    @Scripts.Render("~/bundles/bootstrap")
    @*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $.getJSON("/Seguridad/GetInoformacionUsuario",
            function (data) {
                if (data != null && data.NombreUsuario != null)
                    $("#userInfo").html(data.NombreUsuario);
            });
    });
</script>
