
@{
    ViewBag.Title = "Detalle Facturas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Styles/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Css/infoCuenta.css" rel="stylesheet" />
<link href="~/Content/validacionProveedor.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <h5 class="mt-2 detalle-titulo">Detalle de la factura</h5>
        <div class="card mt-3">
            <div class="card-header mb-2" id="headingOne">
                <span class="card-titulo">
                    Orden: @Html.Label("lblOrdenCompra", "...", new { id = "lblOrdenCompra" })
                </span>
            </div>
            @Html.Hidden("idFactura", (int)ViewBag.idFactura)
            <div class="card-body no-border">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row ml-2">
                            <div class="col-sm-5"><p class="control-label">Recepción de producto</p></div>
                            <div class="col-sm-7">@Html.Label("lblRecepcion", "...", new { id = "lblRecepcion" })</div>
                            @*@Html.Label("lblDescripcion", "...", new { id = "lblDescripcion" })*@
                        </div>
                        <div class="row ml-2">
                            <div class="col-sm-5"><p class="control-label">Fecha recepción</p></div>
                            <div class="col-sm-7">@Html.Label("lblFechaRecepcion", "...", new { id = "lblFechaRecepcion" })</div>
                        </div>
                        <div class="row ml-2">
                            <div class="col-sm-5"><p class="control-label">Subtotal</p></div>
                            <div class="col-sm-7">$ @Html.Label("lblSubtotal", "...", new { id = "lblSubtotal" })</div>
                        </div>
                        <div class="row ml-2">
                            <div class="col-sm-5"><p class="control-label">Anticipo</p></div>
                            <div class="col-sm-7">$ @Html.Label("lblAnticipo", "...", new { id = "lblAnticipo" })</div>
                        </div>
                        <div class="row ml-2">
                            <div class="col-sm-5"><p class="control-label">Impuestos</p></div>
                            <div class="col-sm-7">$ @Html.Label("lblImpuestos", "...", new { id = "lblImpuestos" })</div>
                        </div>
                        <div class="row ml-2">
                            <div class="col-sm-5"><p class="control-label">Total</p></div>
                            <div class="col-sm-7">$ @Html.Label("lblTotal", "...", new { id = "lblTotal" })</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row ml-2">
                            <div class="col-sm-5"><p class="control-label">Pagado</p></div>
                            <div class="col-sm-7">@Html.Label("lblPagado", "...", new { id = "lblPagado" })</div>
                        </div>
                        <div class="row ml-2">
                            <div class="col-sm-5"><p class="control-label">Facturado</p></div>
                            <div class="col-sm-7">@Html.Label("lblFacturado", "...", new { id = "lblFacturado" })</div>
                        </div>
                        <div class="row ml-2">
                            <div class="col-sm-5"><p class="control-label">Fecha de factura</p></div>
                            <div class="col-sm-7">@Html.Label("lblFechaFactura", "...", new { id = "lblFechaFactura" })</div>
                        </div>
                        <div class="row ml-2">
                            <div class="col-sm-5"><p class="control-label">No. de factura</p></div>
                            <div class="col-sm-7">@Html.Label("lblNoFactura", "...", new { id = "lblNoFactura" })</div>
                        </div>
                        <div class="row ml-2">
                            <div class="col-sm-5"><p class="control-label">Fecha programada de pago</p></div>
                            <div class="col-sm-7">@Html.Label("lblFechaPago", "...", new { id = "lblFechaPago" })</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var fn_buscar = function () {
        var idFactura = $('#idFactura').val() == '' ? null : $('#idFactura').val();
        var jsonData = JSON.stringify({ idFactura: idFactura });
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetFacturaDetalle", "Gestion")',
                data: jsonData,
                async: false,
                success: function (data) {
                    $("#lblOrdenCompra").html(data.FacturaDetalleDTO.OrdenCompra);
                    $("#lblRecepcion").html(data.FacturaDetalleDTO.NoFactura);
                    $("#lblFechaRecepcion").html(data.FacturaDetalleDTO.FechaRecepcion);
                    $("#lblSubtotal").html(addCommas(data.FacturaDetalleDTO.Subtotal));
                    $("#lblAnticipo").html(addCommas(data.FacturaDetalleDTO.Anticipo));
                    $("#lblImpuestos").html(addCommas(data.FacturaDetalleDTO.Impuestos));
                    $("#lblTotal").html(addCommas(data.FacturaDetalleDTO.Total));
                    $("#lblPagado").html(data.FacturaDetalleDTO.Pagado);
                    $("#lblFacturado").html(data.FacturaDetalleDTO.Facturado);
                    $("#lblFechaFactura").html(data.FacturaDetalleDTO.FechaFactura);
                    $("#lblNoFactura").html(data.FacturaDetalleDTO.NoFactura);
                    $("#lblFechaPago").html(data.FacturaDetalleDTO.FechaPago);
                    console.log("GetFacturaDetalle", data );
                },
            });
        }
    function addCommas(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

    $(".navbar-nav .nav-item").removeClass("active");
    $("#nav-1").addClass("active");

    $(document).ready(function () {
        fn_buscar();
    });

</script>