
@{
    ViewBag.Title = "Solicitud de Facturación";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.view = 2;
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<!-- Bootstrap DatePicker -->

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<script src="~/scripts\jquery-ui-1.12.1.min.js"></script>
<!-- Bootstrap DatePicker -->


<div class="row">
    <div class="col-md-12">
        <div class="card mt-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 h-filtro">Filtrar por</div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.Label("NumeroSolicitud", "Número de Solicitud", new { @class = "control-label text-right " })
                                @Html.TextBox("NumeroSolicitud", "", new { @class = "form-control", placeholder = "" })
                            </div>
                            <div class="col-sm-6">
                                @Html.Label("Estatus", "Estatus", new { @class = "control-label text-right " })
                                @Html.DropDownList("estatus", new SelectList(ViewBag.EstatusSolicitudList, "IdEstatus", "Descripcion"), "Seleccionar", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.Label("Fecha Inicio", "Fecha Inicio", new { @class = "control-label text-right " })
                                @*@Html.TextBox("FechaInicio", "", new { @class = "form-control datepicker", placeholder = "", @readonly = "readonly", style = "width: 40%;" })*@
                                @*@Html.Editor("HHhhh", "hhhhh", new { htmlAttributes = new { @class = "datepicker" } })*@
                                <input type="text" name="FechaInicio" class=" datepicker" id="FechaInicio" size="15" onkeydown="return false" placeholder="Fecha" data-date-format="dd/mm/yyyy">

                            </div>
                            <div class="col-sm-6">
                                @Html.Label("Fecha Fin", "Fecha Fin", new { @class = "control-label text-right " })
                                @*@Html.TextBox("FechaFin", "", new { @class = "form-control datepicker", placeholder = "", @readonly = "readonly" })*@
                                <input type="text" name="fechaFin" class="datepicker" id="FechaFin" size="15" onkeydown="return false" placeholder="Fecha" data-date-format="dd/mm/yyyy">

                                @*<label class="control-label text-right">Fecha Fin</label>
        <input type="text" class="form-control" placeholder="" />*@
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button id="buscar" class="btn btn-search btn-purple float-right" onclick="fn_buscar()">
                            <i class="fas fa-search"></i> Buscar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mt-3">
    <div class="col-sm-12">
        <table id="Table" class="dataTable dataTables_wrapper ">
        </table>
    </div>
</div>

<script type="text/javascript">
    $.datepicker.regional['es'] = {
 closeText: 'Cerrar',
 prevText: '< Ant',
 nextText: 'Sig >',
 currentText: 'Hoy',
 monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
 monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
 dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
 dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
 dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
 weekHeader: 'Sm',
 dateFormat: 'dd/mm/yy',
 firstDay: 1,
 isRTL: false,
 showMonthAfterYear: false,
 yearSuffix: ''
 };
 $.datepicker.setDefaults($.datepicker.regional['es']);
    $(function () {
            $(".datepicker").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                //yearRange : "-10:+10"
                minDate: new Date(2018, 0, 1),
                maxDate: new Date(2019, 12, 1),
                showOn: "both",
                language: "es",
                buttonText : "<i class='fa fa-calendar'></i>"
            });
        });

    var fn_buscar = function () {
         //var idGiroProveedor = $('#giro').val() == '' ? null : $('#giro').val();
         //var idAeropuerto = $('#aeropuerto').val() == '' ? null : $('#aeropuerto').val();
        var idEstatus = $('#estatus').val() == '' ? null : $('#estatus').val();
        var numeroSolicitud = $('#NumeroSolicitud').val() == '' ? null : $('#NumeroSolicitud').val();
        var fechaInicio = $('#FechaInicio').val() == '' ? null : $('#FechaInicio').val();
        var fechaFin = $('#FechaFin').val() == '' ? null : $('#FechaFin').val();


        console.log('idEstatus', idEstatus);
        console.log('numeroSolicitud', numeroSolicitud);
        var jsonData = JSON.stringify({ idSolicitudFactura: numeroSolicitud, idEstatus: idEstatus, fechaInicio: fechaInicio, fechaFin: fechaFin });
         $.ajax({
             type: "POST",
             contentType: "application/json; charset=utf-8",
             url: '@Url.Action("GetSolicitudFacturaList", "Gestion")',
             data: jsonData,
             async: false,
             success: function(data) {
                 $("#Table").html('');
                 $("#Table").append('<thead class="bg-light-purple"><tr>' +
                     '<td align="left">Número de<br> solicitud</td>'+
                     '<td align="left">Número de recepción</td>' +
                     '<td align="left">Fecha de solicitud</td>' +
                     '<td align="right">Importe</td>' +
                     '<td align="center">Estatus</td>' +
                     '<td align="center">PDF</td>' +
                     '<td align="center">XML</td>' +
                     '<td>Ver</td></tr></thead>'
                 );
                 $("#Table").DataTable().clear().draw();
                 $("#Table").DataTable().destroy();

                 $("#Table").append('<tbody>');
                 for (i = 0; i < data.length; i++) {
                     var link = '@Html.ActionLink(" ", "SolicitudDetalle", "Gestion", new { IdSolicitudFactura ="_idSoliocitud_" }, new { @class = "btn-ver" })';
                     link = link.replace('_idSoliocitud_', data[i].IdSolicitudFactura);

                     var color = ''
                     switch (data[i].UltimoEstatus) {
                         case 1: color = '#f9a32f'; // Pendiente
                             break;
                         case 2: color = '#448aff'; // En Proceso
                             break;
                         case 3: color = '#43ac3e'; // Aceptada
                             break;
                         case 4: color = '#de343c'; // Rechazada
                             break;
                         case 5: color = '#43ac3e'; // Aceptada
                             break;
                     }

                     $("#Table").append('<tr>' +
                         '<td style="dislay: none;" align="center"><b>' + data[i].IdSolicitudFactura + '</b></td>' +
                         '<td style="dislay: none;">' + data[i].NumeroRecepcion + '</td>' +
                         '<td style="dislay: none;">' + data[i].Fecha + '</td>' +
                         '<td style="dislay: none;" align="right">$ ' + addCommas(data[i].Monto) + '</td>' +
                         //'<td style="dislay: none;">' + data[i].RutaPDF + '</td>' +
                         //'<td style="dislay: none;">' + data[i].RutaXML + '</td>' +
                         '<td style="dislay: none; color:'+ color +'" align="center"><b>' + data[i].UltimoStatusLabel + '</b></td>' +
                         '<td style="dislay: none;" align="center"><img src="/Content/Images/icon/upload.png" width="32" /></td>' +
                         '<td style="dislay: none;" align="center"><img src="/Content/Images/icon/upload.png" width="32" /></td>' +
                         //'<td style="dislay: none;">' + data[i].UltimoEstatus + '</td>' +
                         '<td style="dislay: none;">'+ link +'</td>' + '</tr>'
                         //'<td style="dislay: none;"><div class="btn-circle">' + link + '</div></td>' + '</tr>'
                     );
                 }
                 $("#Table").append('</tbody>');

                 $('#Table').DataTable({
                        "paging": false,
                         "bScrollInfinite": true,
                         "bScrollCollapse": true
                     });

             },
         });
    }

    function addCommas(nStr)
    {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

    $(".navbar-nav .nav-item").removeClass("active");
    $("#nav-2").addClass("active");

    $(document).ready(function () {
        fn_buscar();       

    });

</script>
