
@{
    ViewBag.Title = "Solicitud de Facturación";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.view = 2;
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<div class="row">
    <div class="col-md-12">
        <div class="card mt-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 h-filtro">Filtrar por</div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.Label("NumeroSolicitud", "Número de Solicitud", new { @class = "control-label text-right " })
                                @Html.TextBox("NumeroSolicitud", "", new { @class = "form-control", placeholder = "" })
                            </div>
                            <div class="col-sm-6">
                                @Html.Label("Estatus", "Estatus", new { @class = "control-label text-right " })
                                @Html.DropDownList("estatus", new SelectList(ViewBag.EstatusSolicitudList, "IdEstatus", "Descripcion"), "Seleccionar", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.Label("Fecha Inicio", "Fecha Inicio", new { @class = "control-label text-right " })
                                @Html.TextBox("FechaInicio", "", new { @class = "form-control datepicker", placeholder = "" })
                                @*<input type="text" class="form-control" placeholder="" />*@
                            </div>
                            <div class="col-sm-6">
                                @Html.Label("Fecha Fin", "Fecha Fin", new { @class = "control-label text-right " })
                                @Html.TextBox("FechaFin", "", new { @class = "form-control datepicker", placeholder = "" })
                                @*<label class="control-label text-right">Fecha Fin</label>
        <input type="text" class="form-control" placeholder="" />*@
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button id="buscar" class="btn btn-search btn-purple float-right" onclick="fn_buscar()">
                            <i class="fas fa-search"></i> Buscar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mt-3">
    <div class="col-sm-12">
        <table id="Table" class="dataTable dataTables_wrapper ">
        </table>
    </div>
</div>

<script type="text/javascript">
    //$(function () { // will trigger when the document is ready
    //   $('.datepicker').datepicker(); //Initialise any date pickers
    //});

    var fn_buscar = function () {
         //var idGiroProveedor = $('#giro').val() == '' ? null : $('#giro').val();
         //var idAeropuerto = $('#aeropuerto').val() == '' ? null : $('#aeropuerto').val();
        var idEstatus = $('#estatus').val() == '' ? null : $('#estatus').val();
        var numeroSolicitud = $('#NumeroSolicitud').val() == '' ? null : $('#NumeroSolicitud').val();
        var fechaInicio = $('#FechaInicio').val() == '' ? null : $('#FechaInicio').val();
        var fechaFin = $('#FechaFin').val() == '' ? null : $('#FechaFin').val();

        
        console.log('idEstatus', idEstatus);
        console.log('numeroSolicitud', numeroSolicitud);
        var jsonData = JSON.stringify({ idSolicitudFactura: numeroSolicitud, idEstatus: idEstatus, fechaInicio: fechaInicio, fechaFin: fechaFin });
         $.ajax({
             type: "POST",
             contentType: "application/json; charset=utf-8",
             url: '@Url.Action("GetSolicitudFacturaList", "Gestion")',
             data: jsonData,
             async: false,
             success: function(data) {
                 $("#Table").html('');
                 $("#Table").append('<thead class="bg-light-purple"><tr>' +
                     '<td>Número de<br> solicitud</td>'+
                     '<td>Número de recepción</td>' +
                     '<td>Fecha de solicitud</td>' +
                     '<td align="right">Importe</td>' +
                     '<td align="center">PDF</td>' +
                     '<td align="center">XML</td>' +
                     '<td align="center">Estatus</td>' +
                     '<td>Ver</td></tr></thead>'
                 );
                 $("#Table").DataTable().clear().draw();
                 $("#Table").DataTable().destroy();

                 $("#Table").append('<tbody>');
                 for (i = 0; i < data.length; i++) {

                     @*var link = '@Html.ActionLink(" ", "About", "Home", new { idProvider ="_idProv_" }, new { @class = "fas fa-eye icon-color" })';
                     link = link.replace('_idProv_', data[i].IdProveedor);*@
                     @*var link = '@Html.ActionLink(" ", "AceptarProveedor", "Home", new { idProvider ="_idProv_" }, new { @class = "fas fa-eye icon-color" })';
                     link = link.replace('_idProv_', data[i].IdProveedor);*@
                     var link = '@Html.ActionLink(" ", "SolicitudDetalle", "Gestion", new { IdSolicitudFactura ="_idSoliocitud_" }, new { @class = "btn-ver" })';
                     link = link.replace('_idSoliocitud_', data[i].IdSolicitudFactura);

                     var color = ''
                     switch (data[i].UltimoEstatus) {
                         case 1: color = '#f9a32f'; // Pendiente
                             break;
                         case 2: color = '#448aff'; // En Proceso
                             break;
                         case 3: color = '#43ac3e'; // Aceptada
                             break; 
                         case 4: color = '#de343c'; // Rechazada
                             break;
                         case 5: color = '#43ac3e'; // Aceptada
                             break;
                     }

                     $("#Table").append('<tr>' +
                         '<td style="dislay: none;" align="center"><b>' + data[i].IdSolicitudFactura + '</b></td>' +
                         '<td style="dislay: none;">' + data[i].NumeroRecepcion + '</td>' +
                         '<td style="dislay: none;">' + data[i].Fecha + '</td>' +
                         '<td style="dislay: none;" align="right">$ ' + addCommas(data[i].Monto) + '</td>' +
                         //'<td style="dislay: none;">' + data[i].RutaPDF + '</td>' +
                         //'<td style="dislay: none;">' + data[i].RutaXML + '</td>' +
                         '<td style="dislay: none;" align="center"><img src="/Content/Images/icon/upload.png" width="32" /></td>' +
                         '<td style="dislay: none;" align="center"><img src="/Content/Images/icon/upload.png" width="32" /></td>' +

                         //'<td style="dislay: none;">' + data[i].UltimoEstatus + '</td>' +
                         '<td style="dislay: none; color:'+ color +'"><b>' + data[i].UltimoStatusLabel + '</b></td>' +
                         '<td style="dislay: none;">'+ link +'</td>' + '</tr>'
                         //'<td style="dislay: none;"><div class="btn-circle">' + link + '</div></td>' + '</tr>'
                     );
                 }
                 $("#Table").append('</tbody>');

                 $('#Table').DataTable({
                        "paging": false,
                         "bScrollInfinite": true,
                         "bScrollCollapse": true
                     });

             },
         });
    }

    function addCommas(nStr)
    {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }


    $(document).ready(function () {
        fn_buscar();
        $(".navbar-nav .nav-item").removeClass("active");
        $("#nav-2").addClass("active");
    });

</script>
