
@{
    ViewBag.Title = "Solicitud Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<link href="~/Content/Styles/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Css/infoCuenta.css" rel="stylesheet" />
<link href="~/Content/validacionProveedor.css" rel="stylesheet" />
<style>
    #divArchivos{
        font-size: 12px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <h5 class="mt-2 detalle-titulo">Solicitud de Facturación</h5>
        <div class="card mt-3">
            <div class="card-header mb-2" id="headingOne">
                <span class="card-titulo">
                    Orden: SIAP-OC-0003565
                </span>
            </div>
            @Html.Hidden("idSolicitudFactura", (int)ViewBag.IdSolicitudFactura)
            @Html.Hidden("tipoEmpresa", (int)ViewBag.TipoEmpresa)
            <div class="card-body no-border">
                <div class="row">
                    <div class="col-sm-3 cabecero-detalle">
                        <label>Descripción</label>
                        <p class="control-label">
                            @Html.Label("lblDescripcion", "...", new { id = "lblDescripcion" })
                        </p>

                    </div>

                    <div class="col-sm-2 cabecero-detalle">
                        <label class="pull-right">Importe contratado sin I.V.A.</label>
                        <p class="control-label text-right">
                            @Html.Label("lblImporteContratado", "...", new { id = "lblImporteContratado", @class = "" })
                        </p>
                    </div>

                    <div class="col-sm-2 cabecero-detalle text-right">
                        <label class="text-right">Importe facturado sin I.V.A.</label>
                        <p class="control-label text-right">@Html.Label("lblImporteFacturado", "...", new { id = "lblImporteFacturado" })</p>
                    </div>

                    <div class="col-sm-3 cabecero-detalle text-right">
                        <label class="pull-right">Importe pendiente de facturar sin I.V.A.</label>
                        <p class="control-label text-right">@Html.Label("lblImportePendiente", "...", new { id = "lblImportePendiente" })</p>
                    </div>

                    <div class="col-sm-2 cabecero-detalle text-right">
                        <label class="text-right">Importe pagado sin I.V.A.</label>
                        <p class="control-label text-right">@Html.Label("lblImporteFacturar", "...", new { id = "lblImporteFacturar" })</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-sm-12">
        @*<button class="btn-white">Exportar Excel</button>*@
        <a style="float:right;" href="@Url.Action("ExportToExcel", "Gestion", new { idSolicitudFactura = (int)ViewBag.IdSolicitudFactura })" class="ntb-agregarcontacto"><i class="fa fa-plus"></i> Exportar Excel</a>
        @*<a href="@Url.Action("Download", "Gestion", new { idSolicitudFactura = (int)ViewBag.IdSolicitudFactura })" class="ntb-agregarcontacto"><i class="fa fa-plus"></i> Exportar Excel</a>*@
    </div>
</div>


<div class="row mt-3">
    <div class="col-sm-12">
        <table id="Table" class="table-detalle dataTable dataTables_wrapper ">
        </table>
    </div>
</div>

@*<form action="/Gestion/Upload" method="post" class="registro-form form-horizontal" id="form_fact" enctype="multipart/form-data">
        <label for="descripcion">Adjuntar XML:</label>
        <input type="file" name="fichero" size="40">
        <br />
        <input type="submit" value="Enviar" />
    </form>*@



<div class="row mt-3" id="divArchivos">
    <div class="col-sm-3">&nbsp;</div>
    @if ((int)ViewBag.TipoEmpresa == 1)
    {
        <div class="col-sm-3">
            <div class="row">
                <label for="descripcion"><b>Adjuntar XML:</b></label>
                <input type="file" class="ntb-agregarcontacto1" id="fileXml" name="ficheroXml" size="40">
            </div>
        </div>
    }
    <div class="col-sm-3">
        <div class="row">
            <label for="descripcion"><b>Adjuntar PDF:</b></label>
            <input type="file" class="ntb-agregarcontacto1" id="filePdf" name="ficheroPdf" size="40">
        </div>
    </div>
    <div class="col-sm-2">
        <div>&nbsp;</div>
        <input type="button" style="float:right;" class="ntb-agregarcontacto pull-right" id="btnFile" value="Enviar" />
    </div>
</div>

<script type="text/javascript">
        var fn_buscar = function () {
        var numeroSolicitud = $('#idSolicitudFactura').val() == '' ? null : $('#idSolicitudFactura').val();
            var jsonData = JSON.stringify({ idSolicitudFactura: numeroSolicitud });
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("GetSolicitudDetalleList", "Gestion")',
                    data: jsonData,
                    async: false,
                    success: function (data) {
                        console.log( "Valida los input file", data );
                        var importePendiente = (data.SolicitudFacturaCabecera.ImporteContratado - data.SolicitudFacturaCabecera.ImporteFacturado + data.SolicitudFacturaCabecera.ImporteFacturar)
                        console.log(data.SolicitudFacturaCabecera.Descripcion);
                        $('#lblDescripcion').html(data.SolicitudFacturaCabecera.Descripcion);
                        $('#lblImporteContratado').html('$ ' + addCommas(data.SolicitudFacturaCabecera.ImporteContratado));
                        $('#lblImporteFacturado').html('$ ' + addCommas(data.SolicitudFacturaCabecera.ImporteFacturado));
                        $('#lblImportePendiente').html('$ ' + addCommas(importePendiente));
                        $('#lblImporteFacturar').html('$ ' + addCommas(data.SolicitudFacturaCabecera.ImporteFacturar));
                        //$('#idEstatusSolicitud').val(data.SolicitudFacturaCabecera.IdEstatusSolicitud);
                        console.log('IdEstatusSolicitud', data.SolicitudFacturaCabecera.IdEstatusSolicitud);
                        if (data.SolicitudFacturaCabecera.IdEstatusSolicitud != 1) {
                            $("#divArchivos").addClass("control-display-none");
                        }
                        $("#Table").html('');
                        $("#Table").append('<thead class="bg-light-purple"><tr>' +
                            '<td width="50">Linea</td>'+
                            '<td width="130">Texto</td>' +
                            '<td align="right">Cantidad solicitada</td>' +
                            '<td align="right">Precio unitario</td>' +
                            '<td align="right">Monto solicitado</td>' +
                            '</tr></thead>'

                        );
                        $("#Table").DataTable().clear().draw();
                        $("#Table").DataTable().destroy();
                        $("#Table").append('<tbody>');
                        console.log( "SolicitudFacturaDetalleList", data.SolicitudFacturaDetalleList );
                        for (i = 0; i < data.SolicitudFacturaDetalleList.length; i++) {
                            $("#Table").append('<tr>' +
                                '<td style="dislay: none; text-align:left"><b>' + data.SolicitudFacturaDetalleList[i].Linea + '</b></td>' +
                                '<td style="dislay: none;">' + data.SolicitudFacturaDetalleList[i].Descripcion + '</td>' +
                                '<td style="dislay: none; text-align:right">' + addCommas(data.SolicitudFacturaDetalleList[i].CantidadFacturar) + '</td>' +
                                '<td style="dislay: none; text-align:right">' + addCommas(data.SolicitudFacturaDetalleList[i].PrecioUnitario) + '</td>' +
                                '<td style="dislay: none; text-align:right">' + addCommas(data.SolicitudFacturaDetalleList[i].ImporteFacturar) + '</td>' +
                                '</tr>'

                                //'<td style="dislay: none; text-align:right">' + new Intl.NumberFormat("es-MX", {style: "currency", currency: "MXN"}).format( data.SolicitudFacturaDetalleList[i].PrecioUnitario ) + '</td>' +
                                //'<td style="dislay: none; text-align:right">' + addCommas(data.SolicitudFacturaDetalleList[i].ImporteAdquirido) + '</td>' +
                                //'<td style="dislay: none; text-align:right">' + new Intl.NumberFormat("es-MX", {style: "currency", currency: "MXN"}).format( data.SolicitudFacturaDetalleList[i].CantidadFacturada ) + '</td>' +
                                //'<td style="dislay: none; text-align:right">' + addCommas(data.SolicitudFacturaDetalleList[i].CantidadFacturar) + '</td>' +
                                //'<td style="dislay: none; text-align:right">' + new Intl.NumberFormat("es-MX", {style: "currency", currency: "MXN"}).format( data.SolicitudFacturaDetalleList[i].ImporteFacturado ) + '</td>' +
                                //'<td style="dislay: none; text-align:right">' + new Intl.NumberFormat("es-MX", { style: "currency", currency: "MXN" }).format(data.SolicitudFacturaDetalleList[i].ImporteFacturar) + '</td>' +

                            );
                        }
                        $("#Table").append('</tbody>');

                        $('#Table').DataTable({
                            "paging": false,
                            "bScrollInfinite": true,
                            "bScrollCollapse": true
                        });
                    },
                });
        }

    function addCommas(nStr)
    {
        nStr = (Math.round(nStr * 100) / 100).toFixed(2);
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

        $(document).ready(function () {
            fn_buscar();
            $(".navbar-nav .nav-item").removeClass("active");
            $("#nav-2").addClass("active");

            $("#btnFile").click(function () {
                var tipoEmpresa = $('#tipoEmpresa').val();

                var fileXml = tipoEmpresa == 1 ? $("#fileXml").get(0).files : null;
                var filePdf = $("#filePdf").get(0).files;
                if (tipoEmpresa == 1 && fileXml.length != 1) {
                    Swal.fire({
                        position: 'middle',
                        icon: 'error',
                        title: 'Información invalida, por favor agregue un archivo xml.',
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
                else if (filePdf.length != 1) {
                    Swal.fire({
                        position: 'middle',
                        icon: 'error',
                        title: 'Información invalida, por favor agregue un archivo pdf.',
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
                else {
                    var nombreXml = tipoEmpresa == 1 ? fileXml[0].name : '';
                    var nombrePdf = filePdf[0].name;
                    if ((tipoEmpresa != 1 || nombreXml.substr(nombreXml.length - 3, nombreXml.length) == 'xml') && nombrePdf.substr(nombrePdf.length - 3, nombrePdf.length) == 'pdf') {

                        var fileData = new FormData();

                        var numeroSolicitud = $('#idSolicitudFactura').val() == '' ? null : $('#idSolicitudFactura').val();
                        if (tipoEmpresa == 1) {
                            fileData.append("fileXml", fileXml[0]);
                        }
                        else {
                            fileData.append("fileXml", filePdf[0]);
                        }
                        fileData.append("filePdf", filePdf[0]);
                        fileData.append("idSolicitudFactura", numeroSolicitud);
                        console.log(fileData);
                        $.ajax({
                            type: "POST",
                            url: "/Gestion/Upload",
                            dataType: "json",
                            contentType: false,
                            processData: false,
                            data: fileData,
                            success: function (result, status, xhr) {
                                if (result.success) {
                                    $("#divArchivos").addClass("control-display-none");
                                }

                                var icon = result.success ? "success" : "error";
                                Swal.fire({
                                    position: 'middle',
                                    icon: icon,
                                    title: result.responseText,
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                console.log('result', result);
                            },
                            error: function (xhr, status, error) {
                                alert(status);
                            }
                        });
                    }
                    else {
                        Swal.fire({
                            position: 'middle',
                            icon: 'error',
                            title: 'Información invalida, por favor vuelva a intentarlo.',
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                }
            });


        });

</script>
