
@{
    ViewBag.Title = "Solicitud de Facturación";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.view = 2;
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<!-- Bootstrap DatePicker -->

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<script src="~/scripts\jquery-ui-1.12.1.min.js"></script>
<!-- Bootstrap DatePicker -->


<div class="row">
    <div class="col-md-12">
        <div class="card mt-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 h-filtro">Filtrar por</div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.Label("NumeroSolicitud", "Número de Solicitud", new { @class = "control-label text-right " })
                                @Html.TextBox("NumeroSolicitud", "", new { @class = "form-control", placeholder = "" })
                            </div>
                            <div class="col-sm-6">
                                @Html.Label("Estatus", "Estatus", new { @class = "control-label text-right " })
                                @Html.DropDownList("estatus", new SelectList(ViewBag.EstatusSolicitudList, "IdEstatus", "Descripcion"), "Seleccionar", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.Label("Fecha Inicio", "Fecha Inicio", new { @class = "control-label text-right " })
                                <br />
                                @*@Html.TextBox("FechaInicio", "", new { @class = "form-control datepicker", placeholder = "", @readonly = "readonly", style = "width: 40%;" })*@
                                @*@Html.Editor("HHhhh", "hhhhh", new { htmlAttributes = new { @class = "datepicker" } })*@
                                <input type="text" autocomplete="off" name="FechaInicio" style="font-size:12px;" class="form-control datepicker" id="FechaInicio" size="15" onkeydown="return false" placeholder="dd/mm/yyyy" data-date-format="dd/mm/yyyy">

                            </div>
                            <div class="col-sm-6">
                                @Html.Label("Fecha Fin", "Fecha Fin", new { @class = "control-label text-right " })
                                <br />
                                @*@Html.TextBox("FechaFin", "", new { @class = "form-control datepicker", placeholder = "", @readonly = "readonly" })*@
                                <input type="text" autocomplete="off" name="fechaFin" cstyle="font-size:12px;" class="form-control datepicker" id="FechaFin" size="15" onkeydown="return false" placeholder="dd/mm/yyyy" data-date-format="dd/mm/yyyy">

                                @*<label class="control-label text-right">Fecha Fin</label>
                                    <input type="text" class="form-control" placeholder="" />*@
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button id="buscar" class="btn btn-search btn-purple float-right" onclick="fn_buscar()">
                            <i class="fas fa-search"></i> Buscar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mt-3">
    <div class="col-sm-12">
        <table id="Table" class="dataTable dataTables_wrapper ">
        </table>
    </div>
</div>

@Html.Hidden("idSolicitudFactura", 0)
@Html.Hidden("tipoEmpresa", (int)ViewBag.TipoEmpresa)

<!-- Modal Documentación pendiente -->
<div class="modal fade" id="modalArchivos" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header bg-purple">
                <h5 class="modal-title" id="exampleModalLongTitle">Adjuntar Archivos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mt-3" id="divArchivos">
                    @if (ViewBag.TipoEmpresa == 1)
                    {
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="descripcion">Adjuntar XML:</label>
                                <input type="file" id="fileXml" name="ficheroXml" size="40">
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="descripcion">Adjuntar PDF:</label>
                            <input type="file" id="filePdf" name="ficheroPdf" size="40">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btnStyle btnWhite btn-modal-cancelar" data-dismiss="modal">Cancelar</button>
                <button type="button" id="btnEnviarDoctos" class="btnStyle btn-modal-aceptar"><i class='fas fa-paper-plane'></i> Enviar</button>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $.datepicker.regional['es'] = {
            closeText: 'Cerrar',
            prevText: '< Ant',
            nextText: 'Sig >',
            currentText: 'Hoy',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
            dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
        $.datepicker.setDefaults($.datepicker.regional['es']);
    $(function () {
            $(".datepicker").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                //yearRange : "-10:+10"
                minDate: new Date(2018, 0, 1),
                maxDate: new Date(2019, 12, 1),
                showOn: "both",
                language: "es",
                buttonText : "<i class='fa fa-calendar'></i>"
            });
        });

    var fn_buscar = function () {
        var idEstatus = $('#estatus').val() == '' ? null : $('#estatus').val();
        var numeroSolicitud = $('#NumeroSolicitud').val() == '' ? null : $('#NumeroSolicitud').val();
        var fechaInicio = $('#FechaInicio').val() == '' ? null : $('#FechaInicio').val();
        var fechaFin = $('#FechaFin').val() == '' ? null : $('#FechaFin').val();
        var tipoEmpresa = $('#tipoEmpresa').val()

        var jsonData = JSON.stringify({ idSolicitudFactura: numeroSolicitud, idEstatus: idEstatus, fechaInicio: fechaInicio, fechaFin: fechaFin });
         $.ajax({
             type: "POST",
             contentType: "application/json; charset=utf-8",
             url: '@Url.Action("GetSolicitudFacturaList", "Gestion")',
             data: jsonData,
             async: false,
             success: function(data) {
                 $("#Table").html('');
                 $("#Table").append('<thead class="bg-light-purple"><tr>' +
                     '<td align="left">Número de<br> solicitud</td>'+
                     '<td align="left">Número de recepción</td>' +
                     '<td align="left">Fecha de solicitud</td>' +
                     '<td align="right">Importe</td>' +
                     '<td align="center">Estatus</td>' +
                     '<td align="center">PDF</td>' +
                     '<td align="center">XML</td>' +
                     '<td>Ver</td></tr></thead>'
                 );
                 $("#Table").DataTable().clear().draw();
                 $("#Table").DataTable().destroy();

                 $("#Table").append('<tbody>');
                 for (i = 0; i < data.length; i++) {
                     var link = '@Html.ActionLink(" ", "SolicitudDetalle", "Gestion", new { IdSolicitudFactura ="_idSoliocitud_" }, new { @class = "btn-ver" })';
                     link = link.replace('_idSoliocitud_', data[i].IdSolicitudFactura);
                     var btnArchivos = '<input type="button" value="X" data-toggle="modal" data-target="#modalArchivos" " onclick="fn_cargarArchivos(_IdSolicitudFactura_)"/>';//onclick="fn_cargarArchivos(_IdSolicitudFactura_)
                     var hrefPDF = '<div class="col-sm-2">' +
                         '<a href="' + data[i].RutaPDF + '" download="archivo">' + '<img style="width: 32px" src="/Content/Images/descargar.png" />' + '</a>' + '</div>';

                     console.log(data[i].RutaXML);
                     var hrefXML = '';
                     if (data[i].RutaXML != '') {
                         hrefXML = '<div class="col-sm-2">' +
                             '<a href="' + data[i].RutaXML + '" download="archivo">' + '<img style="width: 32px" src="/Content/Images/descargar.png" />' + '</a>' + '</div>';
                     }
                     btnArchivos = btnArchivos.replace('_IdSolicitudFactura_', data[i].IdSolicitudFactura)
                     //btnArchivos = btnArchivos.replace('_Icono_', '<i class="fas fa-upload"></i>')

                     //<input type="button" class="btnStyle btnWhite" data-toggle="modal" data-target="#modalRechazar" value="Rechazar" />
                     var color = ''
                     switch (data[i].UltimoEstatus) {
                         case 1: color = '#f9a32f'; // Pendiente
                             break;
                         case 2: color = '#448aff'; // En Proceso
                             break;
                         case 3: color = '#43ac3e'; // Aceptada
                             break;
                         case 4: color = '#de343c'; // Rechazada
                             break;
                         case 5: color = '#43ac3e'; // Aceptada
                             break;
                     }
                     if (data[i].UltimoEstatus == 1) {
                         $("#Table").append('<tr>' +
                             '<td style="dislay: none;" align="center"><b>' + data[i].IdSolicitudFactura + '</b></td>' +
                             '<td style="dislay: none;">' + data[i].NumeroRecepcion + '</td>' +
                             '<td style="dislay: none;">' + data[i].Fecha + '</td>' +
                             '<td style="dislay: none;" align="right">$ ' + addCommas(data[i].Monto) + '</td>' +
                             '<td style="dislay: none; color:' + color + '" align="center"><b>' + data[i].UltimoStatusLabel + '</b></td>' +
                             '<td style="dislay: none;" align="center"><img src="/Content/Images/icon/upload.png" width="32" />' + btnArchivos + '</td>' +
                             '<td style="dislay: none;" align="center"><img src="/Content/Images/icon/upload.png" width="32" />' + btnArchivos + '</td>' +
                             //'<td style="dislay: none;" align="center"><img src="/Content/Images/icon/upload.png" width="32" /></td>' +
                             //'<td style="dislay: none;" align="center"><img src="/Content/Images/icon/upload.png" width="32" /></td>' +
                             '<td style="dislay: none;">' + link + '</td>' + '</tr>'
                         );
                     }
                     else {
                         $("#Table").append('<tr>' +
                             '<td style="dislay: none;" align="center"><b>' + data[i].IdSolicitudFactura + '</b></td>' +
                             '<td style="dislay: none;">' + data[i].NumeroRecepcion + '</td>' +
                             '<td style="dislay: none;">' + data[i].Fecha + '</td>' +
                             '<td style="dislay: none;" align="right">$ ' + addCommas(data[i].Monto) + '</td>' +
                             '<td style="dislay: none; color:' + color + '" align="center"><b>' + data[i].UltimoStatusLabel + '</b></td>' +
                             //'<td style="dislay: none;" align="center"><img src="/Content/Images/icon/upload.png" width="32" />' + hrefPDF + '</td>' +
                             //'<td style="dislay: none;" align="center"><img src="/Content/Images/icon/upload.png" width="32" />' + hrefPDF + '</td>' +
                             '<td style="dislay: none;" align="center">' + hrefPDF + '</td>' +
                             '<td style="dislay: none;" align="center">' + hrefXML + '</td>' +
                             '<td style="dislay: none;">' + link + '</td>' + '</tr>'
                         );
                     }
                 }
                 $("#Table").append('</tbody>');

                 $('#Table').DataTable({
                        "paging": false,
                         "bScrollInfinite": true,
                         "bScrollCollapse": true
                     });

             },
         });
    }

    function addCommas(nStr)
    {
        nStr = (Math.round(nStr * 100) / 100).toFixed(2);
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

    var fn_cargarArchivos = function (idSolicitudFactura) {
        $('#idSolicitudFactura').val(idSolicitudFactura);
    };

    $(".navbar-nav .nav-item").removeClass("active");
    $("#nav-2").addClass("active");

    $(document).ready(function () {
        fn_buscar();
        $(".ui-datepicker-trigger").hide();

        var url = '@Url.Action("SolicitudFacturacion", "Gestion")';
        $("#btnEnviarDoctos").click(function () {
            var tipoEmpresa = $('#tipoEmpresa').val();
                var fileXml = tipoEmpresa == 1 ? $("#fileXml").get(0).files : null;
                var filePdf = $("#filePdf").get(0).files;
                if (tipoEmpresa == 1 && fileXml.length != 1) {
                    Swal.fire({
                        position: 'middle',
                        icon: 'error',
                        title: 'Información invalida, por favor agregue un archivo xml.',
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
                else if (filePdf.length != 1) {
                    Swal.fire({
                        position: 'middle',
                        icon: 'error',
                        title: 'Información invalida, por favor agregue un archivo pdf.',
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
                else {
                     var nombreXml = tipoEmpresa == 1 ? fileXml[0].name : '';
                    var nombrePdf = filePdf[0].name;
                    console.log(nombreXml.substr(nombreXml.length - 3, nombreXml.length));
                    if ((tipoEmpresa != 1 || nombreXml.substr(nombreXml.length - 3, nombreXml.length) == 'xml') && nombrePdf.substr(nombrePdf.length - 3, nombrePdf.length) == 'pdf') {
                        var fileData = new FormData();

                        var numeroSolicitud = $('#idSolicitudFactura').val() == '' ? null : $('#idSolicitudFactura').val();
                        console.log('idSolicitudFactura', numeroSolicitud);
                        if (tipoEmpresa == 1) {
                            fileData.append("fileXml", fileXml[0]);
                        }
                        else {
                            fileData.append("fileXml", filePdf[0]);
                        }
                        fileData.append("filePdf", filePdf[0]);
                        fileData.append("idSolicitudFactura", numeroSolicitud);
                        //for (var i = 0; i < files.length; i++) {
                        //    fileData.append("fileInput", files[i]);
                        //}

                        $.ajax({
                            type: "POST",
                            url: "/Gestion/Upload",
                            dataType: "json",
                            contentType: false,
                            processData: false,
                            data: fileData,
                            success: function (result, status, xhr) {
                                var icon = result.success ? "success" : "error";
                                Swal.fire({
                                    position: 'middle',
                                    icon: icon,
                                    title: result.responseText,
                                    showConfirmButton: false,
                                    timer: 1500
                                });

                                if (result.success) {
                                    setTimeout(function () { window.location.href = url; }, 1500);
                                }
                            },
                            error: function (xhr, status, error) {
                                alert(status);
                            }
                        });
                    }
                    else {
                        console.log(nombreXml.name.substr(fileXml[0].name.length - 3, nombreXml.name.length));
                        Swal.fire({
                            position: 'middle',
                            icon: 'error',
                            title: 'Información invalida, por favor vuelva a intentarlo.',
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                }
        });

    });

    </script>
